@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 170vh;
  }
  body {
    font-family: "Nunito Sans", sans-serif;
    color: rgb(65, 64, 66);
    background-color: white;
  }

.span-img {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    background-image: none;
    opacity: 1;
    border: 0;
    margin: 0;
  }
  .logo-img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  .logo-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center left;
  }
  .home_nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 0.5rem;
    text-decoration: none;
  }
  .nav-text-home {
    color: rgb(102, 102, 102);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .home_nav i {
    color: rgb(102, 102, 102);
    font-size: 1rem;
    min-width: 1rem;
    text-decoration: none;
  }
  .user-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 0.5rem;
    text-decoration: none;
  }
  .user-nav i {
    color: rgb(102, 102, 102);
    font-size: 1rem;
    min-width: 1rem;
    text-decoration: none;
  }
  .nav-text-user {
    color: rgb(102, 102, 102);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .ajuda-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 0.5rem;
    text-decoration: none;
  }
  .ajuda-nav i {
    color: rgb(102, 102, 102);
    font-size: 1rem;
    min-width: 1rem;
    text-decoration: none;
  }
  .nav-text-ajuda {
    color: rgb(102, 102, 102);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  
  .nav_1 {
    margin-left: 50vh;
    margin-left: auto;
    display: flex;
    gap: 4rem;
    row-gap: 4rem;
    column-gap: 4rem;
    transition: 0.3s;
  }
  .logo-a {
    height: 40px;
    position: relative;
    width: 132px;
  }
  .container-base {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    margin-right: 2rem;
  }
  
  .container {
    display: flex;
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(37, 37, 39, 0.25) 0.5rem 0.5rem 2rem 0px;
  }
  .menu-night .chh{
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
    z-index: 200;
  }
  .menu-night{
    z-index: 0; 
  }
  .menu-night .icon-night{
    z-index: 0;
     position: block;
     top: 0;
     right: 7.5%;
     font-size: 35px;
     color: rgb(102, 102, 102);
  }
  .menu .menu-lines{
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px ;
    right: 20px;
    top: 10px;
  }
  .menu .check{
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
    right: 20px;
    top: 10px;
  }
  .menu .menu-lines span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    background-color: rgb(102, 102, 102);
    border-radius: 3px;
    transition: all ease .2s;
  }
  .menu .check:checked ~ .menu-lines span{
   
  background-color: rgb(192, 0, 0);
  
  }
  .menu .check:checked ~ .menu-lines span:nth-child(1){
  transform-origin: 0% 0%;
  transform: rotate(45deg) scaleX(0.9);
  }
  .menu .check:checked ~ .menu-lines span:nth-child(2){
    opacity: 0;
  }
  .menu .check:checked ~ .menu-lines span:nth-child(3){
    transform-origin: 0% 100%;
  transform: rotate(-45deg) scaleX(0.9) ;
  }
  .menu ul{
    position: absolute;
    z-index: 998;
    left: 70vw;
    top: 50px;
    width: 350px;
    height: initial;
    background-color: rgb(255, 255, 255);
    
    margin-left: 1400vw;
    transition: all ease .3s;
    border-radius: 10px;
  }
 
  @media (max-width:790px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 65vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
    .menu ul li{
      list-style: none;
      padding: 16px 15px;
    }
  }


.text_inter{
  text-align: center;
  padding: 0.9rem;
  font-size: 10px;
  font-weight: bold;
  
}

.menu .check:checked ~ ul{
margin-left: 0;
}

.menu ul{
border: 2px solid black;
}
.menu li{
border-bottom: 1px solid rgb(237, 237, 237);
}
.menu ul li{

list-style: none;
padding: 20px 30px;
}
.menu ul li a{
text-decoration: none;
color: rgb(102, 102, 102);
font-size: 18px;
font-family: sans-serif;
}

@media (min-width:1920px) {
  .menu3{
    border: 1px solid #cacaca;
    border-left: none;
    border-right: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
.menua{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 50vh;
   height: 12vh;
   color: #767676;
}
.enter-text{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}
.inp{
    border: 1px solid black;
    outline: none;
    width: 28vw;
    height: 13vh;
    padding-left: 20px;
    font-size: 17px;
}
.letras{
    margin-top: 10vh;
    line-height: 20px;
 text-align: center;
}
.letras h3{
    color: #767676;
}
.inp::-webkit-input-placeholder{
  font-size: 16px;
  padding-left: 30px;
  color: #767676;
}
.borda{
  display: block;
    position: absolute;
    background-color: #ff5e00;
    width: calc((90% - 3.428571428571428rem) / 3);
    height: 0.285714285714286rem;
    border-radius: 1.428571428571429rem;
    bottom: 0;
    top: 20%;
    left: 35%;
    transition: all ease-in-out .2s;
}
.pai-bnt{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
  
}
.bnt-text{
  
  font-size: 13px;
}
.bnt-text a{
  color: rgb(59, 152, 155);
  
}
.bnt-buscar{
  padding-left: 25px;
}
.bnt-buscar button{
  font-size: 17px;
  width: 9vw;
  height: 8vh;
}
.oufora{
  
  border-top: solid 0.071428571428571rem;
  border-color: #ddd;
  float: left;
  width: 100%;
  margin-top: 3rem;
  position: relative;
  
}
.ou{
  text-align: center;
    width: 3.571428571428572rem;
    height: 1.428571428571429rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #767676;
}
.pai-caixas{
  padding-top: 3%;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.span-img img{
  border-radius: 10% 10% 0 0;
  width: 18.5vw;
 
}
.text{
  padding-left: 25px;
 font-size: 20px;
 font-weight: bold;
  display: flex;
  padding-top: 20px;
}
.text2{
  padding-left: 25px;
  display: block;
  
  font-size: 18px;
}
.filho-caixas{
  
  
  display:grid ;
  width: 18.5%;
}
.linha{
  width: 100%;
  border: 1px solid #aaaaaa;
  border-top: none;
  border-radius: 0 0 8px 8px;
 
}
.bnt-saiba{
  display: flex;
padding: 30px 0px 10px 0px;
justify-content: center;
}
.bnt-saiba button{
  background-color: #0a5f74;
  color: #ffff;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  width: 15vw;
  height: 8vh;
  
}
}

@media (min-width:1200px) and (max-width:1919px) {
  

.menu3{
    border: 1px solid #cacaca;
    border-left: none;
    border-right: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
.menua{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 50vh;
   height: 12vh;
   color: #767676;
}
.enter-text{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}
.inp{
    border: 1px solid black;
    outline: none;
    width: 28vw;
    height: 10vh;
    padding-left: 20px;
    font-size: 17px;
}
.letras{
    margin-top: 10vh;
    line-height: 20px;
 text-align: center;
}
.letras h3{
    color: #767676;
}
.inp::-webkit-input-placeholder{
  font-size: 16px;
  padding-left: 30px;
  color: #767676;
}
.borda{
  display: block;
    position: absolute;
    background-color: #ff5e00;
    width: calc((90% - 3.428571428571428rem) / 3);
    height: 0.285714285714286rem;
    border-radius: 1.428571428571429rem;
    bottom: 0;
    top: 22%;
    left: 35%;
    transition: all ease-in-out .2s;
}
.pai-bnt{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
  
}
.bnt-text{
  
  font-size: 13px;
}
.bnt-text a{
  color: rgb(59, 152, 155);
  
}
.bnt-buscar{
  padding-left: 25px;
}
.bnt-buscar button{
  font-size: 17px;
  width: 9vw;
  height: 8vh;
}
.oufora{
  
  border-top: solid 0.071428571428571rem;
  border-color: #ddd;
  float: left;
  width: 100%;
  margin-top: 3rem;
  position: relative;
  
}
.ou{
  text-align: center;
    width: 3.571428571428572rem;
    height: 1.428571428571429rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #767676;
}
.pai-caixas{
  padding-top: 3%;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.span-img img{
  border-radius: 10% 10% 0 0;
  width: 18.5vw;
 align-items: center;
}
.text{
  padding-left: 25px;
 font-size: 20px;
 font-weight: bold;
  display: flex;
  padding-top: 20px;
}
.text2{
  padding-left: 25px;
  display: block;
  
  font-size: 18px;
}
.filho-caixas{
  
  
  display:grid ;
  width: 18.5%;
}
.linha{
  border: 1px solid #aaaaaa;
  border-top: none;
  border-radius: 0 0 8px 8px;
  margin-top: -10px;
}
.bnt-saiba{
  display: flex;
padding: 30px 0px 10px 0px;
justify-content: center;
}
.bnt-saiba button{
  background-color: #0a5f74;
  color: #ffff;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  width: 15vw;
  height: 8vh;
  
}
}
@media (min-width:992px) and (max-width:1199px) {
  .menu3{
    border: 1px solid #cacaca;
    border-left: none;
    border-right: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
.menua{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 50vh;
   height: 12vh;
   color: #767676;
}
.enter-text{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}
.inp{
    border: 1px solid black;
    outline: none;
    width: 28vw;
    height: 10vh;
    padding-left: 20px;
    font-size: 17px;
}
.letras{
    margin-top: 10vh;
    line-height: 20px;
 text-align: center;
}
.letras h3{
    color: #767676;
}
.inp::-webkit-input-placeholder{
  font-size: 16px;
  padding-left: 30px;
  color: #767676;
}
.borda{
  display: block;
    position: absolute;
    background-color: #ff5e00;
    width: calc((90% - 3.428571428571428rem) / 3);
    height: 0.285714285714286rem;
    border-radius: 1.428571428571429rem;
    bottom: 0;
    top: 22%;
    left: 35%;
    transition: all ease-in-out .2s;
}
.pai-bnt{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
  
}
.bnt-text{
  
  font-size: 13px;
}
.bnt-text a{
  color: rgb(59, 152, 155);
  
}
.bnt-buscar{
  padding-left: 25px;
}
.bnt-buscar button{
  font-size: 17px;
  width: 9vw;
  height: 8vh;
}
.oufora{
  
  border-top: solid 0.071428571428571rem;
  border-color: #ddd;
  float: left;
  width: 100%;
  margin-top: 3rem;
  position: relative;
  
}
.ou{
  text-align: center;
    width: 3.571428571428572rem;
    height: 1.428571428571429rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #767676;
}
.pai-caixas{
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 50px;
  width: 100%;
  
  justify-content: center;
}
.filho-caixas{
padding-top: 50px;
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;

}

.span-img img{
  border-radius: 10% 10% 0 0;
  width: 30vw;

}
.text{
  display: block;
   text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding-top: 5px;
}
.text2{
  display: block;
  text-align: center;
  padding-top: 0px;
  font-size: 15px;
}
.bnt{
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bnt button{
  width: 20vw;
  height: 5vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #0a5f74;
  color: #ffff;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
}
.linha{
  width: 100%;
  border: 1px solid #aaaaaa;
  border-top: none;
  border-radius: 0 0 8px 8px;
 
}
.bnt-saiba{
  display: flex;
padding: 30px 0px 10px 0px;
justify-content: center;
}
.bnt-saiba button{
  background-color: #0a5f74;
  color: #ffff;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  width: 15vw;
  height: 8vh;
}
}
@media (min-width:768px) and (max-width:991px) {
  html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 250vh;
  }
  .menu3{
    border: 1px solid #cacaca;
    border-left: none;
    border-right: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
.menua{
    font-size: 0.8rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 9vh;
    color: #767676;
}
.borda{
    display: block;
    position: absolute;
    background-color: #ff5e00;
    width: calc((90% - 3.428571428571428rem) / 3);
    height: 0.285714285714286rem;
    border-radius: 1.428571428571429rem;
    bottom: 0;
    top: 19vh;
    left: 36%;
    transition: all ease-in-out .2s;
}
.letras{
  margin-top: 5vh;
  line-height: 20px;
text-align: center;
}
.letras h3{
  font-size: 15px;
  color: #767676;
}
.enter-text{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
   align-items: center;
 
  justify-content: center;
}
.inp{
  
  border: 1px solid black;
  outline: none;
  width: 65vw;
  height: 8vh;
  padding-left: 15px;
  font-size: 15px;
}
.pai-bnt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
  
}
.bnt-text{
  
  margin-left: 15px;
  font-size: 10px;
}
.bnt-text a{
  color: rgb(59, 152, 155);
  
}
.bnt-buscar{
  padding-top: 30px;
}
.bnt-buscar button{
  font-weight: bold;
  font-size: 18px;
  width: 50vw;
  height: 8vh;
}
.oufora{
  
  border-top: solid 0.071428571428571rem;
  border-color: #ddd;
  float: left;
  width: 100%;
  margin-top: 3rem;
  position: relative;
  
}
.ou{
    text-align: center;
    width: 3.571428571428572rem;
    height: 1.428571428571429rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #767676;
}
.pai-caixas{
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 50px;
  width: 100%;
  
  justify-content: center;
}
.filho-caixas{
padding-top: 50px;
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;

}

.span-img img{
  border-radius: 10% 10% 0 0;
  width: 30vw;

}
.text{
  display: block;
   text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding-top: 5px;
}
.text2{
  display: block;
  text-align: center;
  padding-top: 0px;
  font-size: 15px;
}
.bnt{
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bnt button{
  width: 20vw;
  height: 5vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #0a5f74;
  color: #ffff;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
}
.linha{
  width: 100%;
  border: 1px solid #aaaaaa;
  border-top: none;
  border-radius: 0 0 8px 8px;
 
}
.menu ul{
  position: absolute;
  z-index: 998;
  left: 70vw;
  top: 50px;
  width: 300px;
  height: initial;
  background-color: rgb(255, 255, 255);
  
  margin-left: 1500px;
  transition: all ease .2s;
  border-radius: 10px;
}
.home_nav{
  display: none;
}
.menu ul li{
  list-style: none;
  padding: 16px 15px;
}



}
@media (min-width:480px) and (max-width:767px) {
  html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 250vh;
  }
  .menu3{
    border: 1px solid #cacaca;
    border-left: none;
    border-right: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
.menua{
    font-size: 0.8rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 9vh;
    color: #767676;
}
.borda{
    display: block;
    position: absolute;
    background-color: #ff5e00;
    width: calc((90% - 3.428571428571428rem) / 3);
    height: 0.285714285714286rem;
    border-radius: 1.428571428571429rem;
    bottom: 0;
    top: 19vh;
    left: 37%;
    transition: all ease-in-out .2s;
}
.letras{
  margin-top: 5vh;
  line-height: 20px;
text-align: center;
}
.letras h3{
  font-size: 15px;
  color: #767676;
}
.enter-text{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
   align-items: center;
 
  justify-content: center;
}
.inp{
  
  border: 1px solid black;
  outline: none;
  width: 65vw;
  height: 8vh;
  padding-left: 15px;
  font-size: 15px;
}
.pai-bnt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
  
}
.bnt-text{
  
  margin-left: 15px;
  font-size: 10px;
}
.bnt-text a{
  color: rgb(59, 152, 155);
  
}
.bnt-buscar{
  padding-top: 30px;
}
.bnt-buscar button{
  font-weight: bold;
  font-size: 18px;
  width: 50vw;
  height: 8vh;
}
.oufora{
  
  border-top: solid 0.071428571428571rem;
  border-color: #ddd;
  float: left;
  width: 100%;
  margin-top: 3rem;
  position: relative;
  
}
.ou{
    text-align: center;
    width: 3.571428571428572rem;
    height: 1.428571428571429rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #767676;
}
.pai-caixas{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.filho-caixas{
padding-top: 50px;
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;

}

.span-img img{
  border-radius: 10% 10% 0 0;
  width: 50vw;

}
.text{
  display: block;
   text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding-top: 5px;
}
.text2{
  display: block;
  text-align: center;
  padding-top: 0px;
  font-size: 15px;
}
.bnt{
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bnt button{
  width: 40vw;
  height: 5vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #0a5f74;
  color: #ffff;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
}
.linha{
  width: 100%;
  border: 1px solid #aaaaaa;
  border-top: none;
  border-radius: 0 0 8px 8px;
 
}
.menu ul{
  position: absolute;
  z-index: 998;
  left: 49vw;
  top: 50px;
  width: 300px;
  height: initial;
  background-color: rgb(255, 255, 255);
  margin-left: 1500px;
  transition: all ease .2s;
  border-radius: 10px;
}
.home_nav{
  display: none;
}
}



@media (max-width:480px) {
  html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 250vh;
  }
  .menu3{
    border: 1px solid #cacaca;
    border-left: none;
    border-right: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
.menua{
    font-size: 0.8rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 9vh;
    color: #767676;
}
.borda{
    display: block;
    position: absolute;
    background-color: #ff5e00;
    width: calc((90% - 3.428571428571428rem) / 3);
    height: 0.285714285714286rem;
    border-radius: 1.428571428571429rem;
    bottom: 0;
    top: 19%;
    left: 38%;
    transition: all ease-in-out .2s;
}
.letras{
  margin-top: 5vh;
  line-height: 20px;
text-align: center;
}
.letras h3{
  font-size: 15px;
  color: #767676;
}
.enter-text{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
   align-items: center;
 
  justify-content: center;
}
.inp{
  
  border: 1px solid black;
  outline: none;
  width: 65vw;
  height: 8vh;
  padding-left: 15px;
  font-size: 15px;
}
.pai-bnt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
  
}
.bnt-text{
  
  margin-left: 15px;
  font-size: 10px;
}
.bnt-text a{
  color: rgb(59, 152, 155);
  
}
.bnt-buscar{
  padding-top: 30px;
}
.bnt-buscar button{
  font-weight: bold;
  font-size: 18px;
  width: 50vw;
  height: 8vh;
}
.oufora{
  
  border-top: solid 0.071428571428571rem;
  border-color: #ddd;
  float: left;
  width: 100%;
  margin-top: 3rem;
  position: relative;
  
}
.ou{
    text-align: center;
    width: 3.571428571428572rem;
    height: 1.428571428571429rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #767676;
}
.pai-caixas{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.filho-caixas{
padding-top: 50px;
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;

}

.span-img img{
  border-radius: 10% 10% 0 0;
  width: 50vw;

}
.text{
  display: block;
   text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding-top: 5px;
}
.text2{
  display: block;
  text-align: center;
  padding-top: 0px;
  font-size: 15px;
}
.bnt{
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bnt button{
  width: 40vw;
  height: 5vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #0a5f74;
  color: #ffff;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
}
.linha{
  width: 100%;
  border: 1px solid #aaaaaa;
  border-top: none;
  border-radius: 0 0 8px 8px;
 
}
.menu ul{
  position: absolute;
  z-index: 998;
  left: 40vw;
  top: 50px;
  width: 300px;
  height: initial;
  background-color: rgb(255, 255, 255);
  margin-left: 1500px;
  transition: all ease .2s;
  border-radius: 10px;
}
.menu ul li a{
  text-decoration: none;
  color: rgb(102, 102, 102);
  font-size: 15px;
  font-family: sans-serif;
}
.menu ul li{
  list-style: none;
  padding: 16px 15px;
}
.menu li:hover{
border-radius: 10px;
background-color: #f2a71b;
}
.menu ul li:hover a{
color: white;
}
.home_nav{
  display: none;
}
}
