
*{  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  font-family: "Nunito Sans", sans-serif;
}
html{
  margin: 0;
  padding: 0;

}
.principal{
    padding:  10px 0 10px;
    display: flex;
    
  justify-content: space-around;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: rgb(121, 121, 121);
    font-family: 'Montserrat', sans-serif;
}
.menu ul li a:hover, .texto:hover {
    transition: 0.2s;
    color: chocolate;
}

 .icons:hover{
    border: 1px solid chocolate;
    transition: 0.2s;
    color: chocolate;
}
.texto{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: rgb(121, 121, 121);
}
.icons{
    cursor: pointer;
    width:4.5rem;
    height: 2.3rem;
    display: flex;
    gap: 10px;
     align-items: center;
     justify-content: center;
    border: 1px solid black;
    border-radius: 40px;
}
.icons i{
    font-size: 23px;
}
.login{


    display: flex;
    align-items: center;
    gap: 40px;
}
.flex{
    align-items: center;
    display: flex;
}
.banner{
    filter: brightness(0.9);
    background-image: url(imagens/slides/AON\ SET23-Home_Destaque.png);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.textbanner{
    width: 50%;
font-size: 50px;
position: relative;
top: 5rem;
color: white;
left: 4rem;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
}
.subbam{
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    top: 6rem;
    left: 4rem;
}
.textinho2{
    width: 50%;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    top: 7rem;
    left: 4rem;
}
.inputs{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    justify-content: center;
    position: relative;
    top: 10rem;
    
    align-items: center;
}
.opcoes{
    display: flex;
   border-radius: 4px;
    background-color: white;
width: 25rem;
height: 2.8rem;
align-items: center;
}
.inpnumber input{
    border-radius: 4px;
    border: none;
    width: 15rem;
    height: 2.9rem;
    outline: none;
    padding-left: 20px;
}
.opcoes span{
    font-weight: 600;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(133, 132, 132);
    font-size: 15px;
}
.bnt button{
    width: 12rem;
    height: 2.9rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #f2a71b;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500;
}
.bnt button:hover{
    transition: 0.3s;
    filter: brightness(0.9);
}
.inpemail input{
    border-radius: 4px;
    width: 20rem;
    height: 2.9rem;
    outline: none;
    padding-left: 20px;
    border: none;
}
#email::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  
}
#numeros::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    
}
.texto-inter{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.texto-inter span{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.opinter{
    display: flex;
    gap: 100px;
    justify-content: center;
    padding:  50px 0 100px;
}
.opinter span{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-weight: 600;
    color: rgb(104, 103, 103);
}
.precos-pai{
    display: flex;
    justify-content: space-around;
}
.preco{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    font-family: "Nunito Sans", sans-serif;
    font-weight: bolder;
    font-size: 27px;
}
.marca{
    font-family: "Nunito Sans", sans-serif;
    font-size: 17px;
}
.textopreco{
    font-family: 'Montserrat', sans-serif;
    color: rgb(104, 103, 103);
    font-size: 17px;
    text-align: center;
}

.simbolo{
    display: flex;
    font-weight: bolder;
align-items: center;
padding: 5px;
font-family: 'Montserrat', sans-serif;
}
.precos{
font-size: 35px;
font-weight: 800;
}
.bntpreco{
    padding-top: 25px;
}
.bntpreco button{
    font-size: 15px;
width: 9rem;
height: 3rem;
}

.principal2{
    max-width: 50%;
    position: relative;
    margin: auto;
  }
  .meusslides{
    display: none;
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 90rem;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(170, 11, 11);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 50rem;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.308);
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot {
    cursor: pointer;
    height: 10px;
        width: 40px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 8px;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .part {
    animation-name: part;
    animation-duration: 1.5s;
  }
  @keyframes part {
    from {opacity: .4}
    to {opacity: 1}
  }
  .flexslide{
    display: flex;
    align-items: center;
  }
 
  .passo{
    font-family: 'Montserrat', sans-serif;
font-weight: bolder;
font-size: 26px;
  }
  .principalslide{
display: flex;
align-items: center;
justify-content: center;

  }
  .principalslide img{
  width: 15%;
  }
  .textoslide{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
  }
  .tituloslide{
   
    font-family: "Nunito Sans", sans-serif;
    font-weight: bolder;
    font-size: 50px;
  }
  

.z1{
  display: none;
  width: 8rem;
  background-color: #0a5f74;
  height: 3px;
display: flex;
}
.z2{
  opacity: 0;
  width: 8rem;
  background-color: #0a5f74;
  height: 3px;
display: flex;
}
.centro{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

@media(max-width:480px){
  .check{
    right: 0px;
    background-color: #0a5f74;
    width: 7rem;
    height: 2rem;
    position: absolute;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 123rem;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(170, 11, 11);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
     right: 1rem;
    border-radius: 3px 0 0 3px;
  }
  .passo{
    font-family: 'Montserrat', sans-serif;
font-weight: bolder;
font-size: 20px;
  }
  .textoslide{
    padding: 20px 0 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }
  .principal2{
    max-width: 90%;
    position: relative;
    margin: auto;
  }
  .paitexto{
    display: grid;
    grid-column: 500px 500px;
    gap: 30px;
    }
  .imgtf{
    display: none;
  }
  .tituloslide {
    padding-left: 15px;
    padding-top: 50px;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bolder;
    font-size: 24px;
}
  .texto-inter span {
    padding-left: 10px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
  .precos-pai{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
  .bnt button{
    width: 20rem;
    height: 2.9rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #f2a71b;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500;
}
  .inpnumber input{
    border-radius: 4px;
    border: none;
    width: 20rem;
    height: 2.9rem;
    outline: none;
    padding-left: 20px;
}
  .opcoes{
   display: flex;
   border-radius: 4px;
   background-color: white;
   width: 20rem;
   height: 2.8rem;
   align-items: center;
}
  .inputs{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content:center;
    position: relative;
    top: 7rem;
    
    align-items: center;
}
.textbanner{
  width: 90%;
font-size: 35px;
position: relative;
top: 2rem;
color: white;
left: 2rem;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
}
.subbam{
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  top: 3rem;
  left: 2rem;
}
.textinho2{
  width: 90%;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  top: 4rem;
  left: 2rem;
}
.texto{
  display: none;
}
  .principal{
    
    padding:  10px 0 10px;
    display: flex;
  justify-content: space-between;
}
.menu ul{
  display: none;
  list-style: none;
 
  gap: 20px;
}
.menu ul li a{
  text-decoration: none;
  color: rgb(121, 121, 121);
  font-family: 'Montserrat', sans-serif;
}
.banner{
  filter: brightness(0.9);
  background-image: url(imagens/slides/AON\ SET23-Home_Destaque.png);
  width: 100%;
  height: 38rem;
  background-size: cover;
  background-repeat: no-repeat;
}
}
@media(min-width:481px) and (max-width:767px){
  .banner{
    filter: brightness(0.9);
    background-image: url(imagens/slides/AON\ SET23-Home_Destaque.png);
    width: 100%;
    height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .check{
    right: 0px;
    background-color: #0a5f74;
    width: 7rem;
    height: 2rem;
    position: absolute;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 117rem;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(170, 11, 11);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
     right: 1rem;
    border-radius: 3px 0 0 3px;
  }
  .passo{
    font-family: 'Montserrat', sans-serif;
font-weight: bolder;
font-size: 23px;
  }
  .textoslide{
    padding: 20px 0 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }
  .principal2{
    max-width: 90%;
    position: relative;
    margin: auto;
  }
  .paitexto{
    display: grid;
    grid-column: 500px 500px;
    gap: 50px;
    }
  .imgtf{
    display: none;
  }
  .tituloslide {
    padding-top: 50px;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bolder;
    font-size: 24px;
}
  .texto-inter span {
    padding-left: 10px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
  .precos-pai{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
  .bnt button{
    width: 20rem;
    height: 2.9rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #f2a71b;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500;
}
  .inpnumber input{
    border-radius: 4px;
    border: none;
    width: 20rem;
    height: 2.9rem;
    outline: none;
    padding-left: 20px;
}
  .opcoes{
   display: flex;
   border-radius: 4px;
   background-color: white;
   width: 20rem;
   height: 2.8rem;
   align-items: center;
}
  .inputs{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content:center;
    position: relative;
    top: 7rem;
    
    align-items: center;
}
.textbanner{
  width: 90%;
font-size: 35px;
position: relative;
top: 2rem;
color: white;
left: 2rem;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
}
.subbam{
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  top: 3rem;
  left: 2rem;
}
.textinho2{
  width: 90%;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  top: 4rem;
  left: 2rem;
}
.texto{
  display: none;
}
  .principal{
    
    padding:  10px 0 10px;
    display: flex;
  justify-content: space-between;
}
.menu ul{
  display: none;
  list-style: none;
 
  gap: 20px;
}
.menu ul li a{
  text-decoration: none;
  color: rgb(121, 121, 121);
  font-family: 'Montserrat', sans-serif;
}
}
@media(min-width:768px) and (max-width:991px){
  .banner{
    filter: brightness(0.9);
    background-image: url(imagens/slides/AON\ SET23-Home_Destaque.png);
    width: 100%;
    height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .check{
    right: 0px;
    background-color: #0a5f74;
    width: 7rem;
    height: 2rem;
    position: absolute;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 82rem;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(170, 11, 11);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
     right: 1rem;
    border-radius: 3px 0 0 3px;
  }
  .passo{
    font-family: 'Montserrat', sans-serif;
font-weight: bolder;
font-size: 23px;
  }
  .textoslide{
    padding: 20px 0 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }
  .principal2{
    max-width: 90%;
    position: relative;
    margin: auto;
  }
  .paitexto{
    display: grid;
    grid-column: 500px 500px;
    gap: 50px;
    }
  .imgtf{
    display: none;
  }
  .tituloslide {
    padding-left: 35px;
    padding-top: 50px;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
  .texto-inter span {
    padding-left: 10px;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
  .precos-pai{
    display: flex;
    gap: 60px;
}
  .bnt button{
    width: 20rem;
    height: 2.9rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #f2a71b;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500;
}
  .inpnumber input{
    border-radius: 4px;
    border: none;
    width: 20rem;
    height: 2.9rem;
    outline: none;
    padding-left: 20px;
}
  .opcoes{
   display: flex;
   border-radius: 4px;
   background-color: white;
   width: 20rem;
   height: 2.8rem;
   align-items: center;
}
  .inputs{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content:center;
    position: relative;
    top: 7rem;
    
    align-items: center;
}
.textbanner{
  width: 90%;
font-size: 35px;
position: relative;
top: 2rem;
color: white;
left: 2rem;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
}
.subbam{
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  top: 3rem;
  left: 2rem;
}
.textinho2{
  width: 90%;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  top: 4rem;
  left: 2rem;
}
.texto{
  display: none;
}
  .principal{
    
    padding:  10px 0 10px;
    display: flex;
  justify-content: space-between;
}
.menu ul{
  display: flex;
  list-style: none;

  gap: 30px;
}
.menu ul li a{
  text-decoration: none;
  color: rgb(121, 121, 121);
  font-family: 'Montserrat', sans-serif;
}
}
@media(min-width:992px) and (max-width:1199px){
  .banner{
    filter: brightness(0.9);
    background-image: url(imagens/slides/AON\ SET23-Home_Destaque.png);
    width: 100%;
    height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .check{
    right: 0px;
    background-color: #0a5f74;
    width: 7rem;
    height: 2rem;
    position: absolute;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 82rem;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(170, 11, 11);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
     right: 1rem;
    border-radius: 3px 0 0 3px;
  }
  .passo{
    font-family: 'Montserrat', sans-serif;
font-weight: bolder;
font-size: 23px;
  }
  .textoslide{
    padding: 20px 0 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }
  .principal2{
    max-width: 90%;
    position: relative;
    margin: auto;
  }
  .paitexto{
    display: grid;
    grid-column: 500px 500px;
    gap: 50px;
    }
  .imgtf{
    display: none;
  }
  .tituloslide {
    padding-left: 35px;
    padding-top: 50px;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
  .texto-inter span {
    padding-left: 10px;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
  .precos-pai{
    display: flex;
    gap: 60px;
}
  .bnt button{
    width: 20rem;
    height: 2.9rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #f2a71b;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500;
}
  .inpnumber input{
    border-radius: 4px;
    border: none;
    width: 20rem;
    height: 2.9rem;
    outline: none;
    padding-left: 20px;
}
  .opcoes{
   display: flex;
   border-radius: 4px;
   background-color: white;
   width: 20rem;
   height: 2.8rem;
   align-items: center;
}
  .inputs{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content:center;
    position: relative;
    top: 7rem;
    
    align-items: center;
}
.textbanner{
  width: 90%;
font-size: 35px;
position: relative;
top: 2rem;
color: white;
left: 2rem;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
}
.subbam{
  width: 90%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  top: 3rem;
  left: 2rem;
}
.textinho2{
  width: 90%;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  top: 4rem;
  left: 2rem;
}
.texto{
  display: none;
}
  .principal{
    
    padding:  10px 0 10px;
    display: flex;
  justify-content: space-between;
}
.menu ul{
  display: flex;
  list-style: none;

  gap: 30px;
}
.menu ul li a{
  text-decoration: none;
  color: rgb(121, 121, 121);
  font-family: 'Montserrat', sans-serif;
}
}
@media (min-width:1200px ) and (max-width:1919px){

    
    .principal{
        padding:  10px 0 10px;
        display: flex;
        
      justify-content: space-around;
    }
    .menu ul{
        list-style: none;
        display: flex;
        gap: 20px;
    }
    .menu ul li a{
        text-decoration: none;
        color: rgb(121, 121, 121);
        font-family: 'Montserrat', sans-serif;
    }
    .menu ul li a:hover, .texto:hover {
        transition: 0.2s;
        color: chocolate;
    }
    
     .icons:hover{
        border: 1px solid chocolate;
        transition: 0.2s;
        color: chocolate;
    }
    .texto{
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        color: rgb(121, 121, 121);
    }
    .icons{
        cursor: pointer;
        width:4.5rem;
        height: 2.3rem;
        display: flex;
        gap: 10px;
         align-items: center;
         justify-content: center;
        border: 1px solid black;
        border-radius: 40px;
    }
    .icons i{
        font-size: 23px;
    }
    .login{
    
    
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .flex{
        align-items: center;
        display: flex;
    }
    .banner{
        filter: brightness(0.9);
        background-image: url(imagens/slides/AON\ SET23-Home_Destaque.png);
        width: 100%;
        height: 70vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .textbanner{
        width: 50%;
    font-size: 50px;
    position: relative;
    top: 5rem;
    color: white;
    left: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    }
    .subbam{
        width: 50%;
        font-family: 'Montserrat', sans-serif;
        color: white;
        position: relative;
        top: 6rem;
        left: 4rem;
    }
    .textinho2{
        width: 50%;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        position: relative;
        top: 7rem;
        left: 4rem;
    }
    .inputs{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 20px;
        justify-content: center;
        position: relative;
        top: 10rem;
        
        align-items: center;
    }
    .opcoes{
        display: flex;
       border-radius: 4px;
        background-color: white;
    width: 25rem;
    height: 2.8rem;
    align-items: center;
    }
    .inpnumber input{
        border-radius: 4px;
        border: none;
        width: 15rem;
        height: 2.9rem;
        outline: none;
        padding-left: 20px;
    }
    .opcoes span{
        font-weight: 600;
        padding-left: 20px;
        font-family: 'Montserrat', sans-serif;
        color: rgb(133, 132, 132);
        font-size: 15px;
    }
    .bnt button{
        width: 12rem;
        height: 2.9rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        background-color: #f2a71b;
        color: white;
        border: none;
        border-radius: 8px;
        font-weight: 500;
    }
    .bnt button:hover{
        transition: 0.3s;
        filter: brightness(0.9);
    }
    .inpemail input{
        border-radius: 4px;
        width: 20rem;
        height: 2.9rem;
        outline: none;
        padding-left: 20px;
        border: none;
    }
    #email::placeholder{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
      
    }
    #numeros::placeholder{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        
    }
    .texto-inter{
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    .texto-inter span{
        font-size: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
    }
    .opinter{
        display: flex;
        gap: 100px;
        justify-content: center;
        padding:  50px 0 100px;
    }
    .opinter span{
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        font-weight: 600;
        color: rgb(104, 103, 103);
    }
    .precos-pai{
        display: flex;
        justify-content: space-around;
    }
    .preco{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo{
        font-family: "Nunito Sans", sans-serif;
        font-weight: bolder;
        font-size: 27px;
    }
    .marca{
        font-family: "Nunito Sans", sans-serif;
        font-size: 17px;
    }
    .textopreco{
        font-family: 'Montserrat', sans-serif;
        color: rgb(104, 103, 103);
        font-size: 17px;
        text-align: center;
    }
    
    .simbolo{
        display: flex;
        font-weight: bolder;
    align-items: center;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    }
    .precos{
    font-size: 35px;
    font-weight: 800;
    }
    .bntpreco{
        padding-top: 25px;
    }
    .bntpreco button{
        font-size: 15px;
    width: 9rem;
    height: 3rem;
    }
 
    .principal2{
        max-width: 100%;
        position: relative;
        margin: auto;
      }
      .meusslides{
       
        display: none;
      }
      
      
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 85rem;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: rgb(170, 11, 11);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      .next {
        right: 4rem;
        border-radius: 3px 0 0 3px;
      }
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      .dot {

        cursor: pointer;
        height: 10px;
        width: 40px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 8px;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      .active, .dot:hover {
        background-color: #717171;
      }
      .part {
        animation-name: part;
        animation-duration: 1.5s;
      }
      @keyframes part {
        from {opacity: .4}
        to {opacity: 1}
      }
      .flexslide{
        display: flex;
        align-items: center;
      }
     
      .passo{
        font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding: 0px 0px 30px;
      }
      .principalslide{
        background-color: #0a5f74;
    display: grid;
    grid-template-columns: 20% 70% ;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding:100px;
      }
      .principalslide img{
      width: 100%;
      }
      .textoslide{
        position: relative;
        top: 0;
        left: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
      }
      .tituloslide{
      
       
        padding-left: 0px ;
        font-family: "Nunito Sans", sans-serif;
        font-weight: bolder;
        font-size: 50px;
       
      }
      .f{
        height: 1rem;
      }
      .paitexto{
      display: grid;
      grid-column: 500px 500px;
      gap: 50px;
      }
}

@media (min-width:1920px) {
  
  .fimtexto {
    padding-top: 60px;
    display: flex;
    grid-template-columns: auto 450px;
    margin: 0;
    gap: 2rem;
   
    justify-content: space-around;
  
  }
  
  .fimtexto1 {
    
    width: 80%;
  }
  .textin{
    font-size: 15px;
    padding-left: 70px;
    
    max-height: 50px;
    overflow: hidden;
    position: relative;
    transition: max height 0.4s ease;
  }
  .overflow{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
  }
  .bntleia  {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bntleia button{
    cursor: pointer;
    font-size: 15px;
    width: 30vw;
    height: 4vh;
    border: none;
  }
  .overflow [data-state='visible']{
    display: block;
  }
  
  
  .pailinha{
    display: flex;
   padding: 20px;
    justify-content: space-around;
  }
  .linha{
    width: 100%;
    text-align: center;
  }
  .linha img{
  width: 90%;
  }
  
  .numlist {
  display: grid;
  gap: 1rem;
  
  padding: 0 0 40px;
  grid-template-columns: 40% 340px;
  }
  
  .numlist li{
  width: 100%;
  list-style: none;
  padding: 0;
  
  }
  
  .num {
  color: blue ;
  font-weight: bolder;
  font-size: 1.1rem;
  }
  .fimspan {
  text-align: start;
  padding-left: 2rem;
  display: block;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  color:#f2a71b;
  }
      .inpnumber input{
          border-radius: 4px;
          border: none;
          width: 20rem;
          height: 2.9rem;
          outline: none;
          padding-left: 20px;
      }
      .inpemail input{
          border-radius: 4px;
          width: 30rem;
          height: 2.9rem;
          outline: none;
          padding-left: 20px;
          border: none;
      }
      .inpnumber input{
          border-radius: 4px;
          border: none;
          width: 20rem;
          height: 2.9rem;
          outline: none;
          padding-left: 20px;
      }
      .textbanner{
          width: 50%;
      font-size: 80px;
      position: relative;
      top: 5rem;
      color: white;
      left: 4rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      }
      .subbam{
          width: 50%;
          font-family: 'Montserrat', sans-serif;
          color: white;
          position: relative;
          font-size: 20px;
          top: 6rem;
          left: 4rem;
      }
      .textinho2{
          width: 50%;
          font-size: 16px;
          font-family: 'Montserrat', sans-serif;
          color: white;
          position: relative;
          top: 7rem;
          left: 4rem;
      }
      .inputs{
          width: 100%;
          display: grid;
          grid-template-columns: auto auto auto auto;
          gap: 20px;
          justify-content: center;
          position: relative;
          top: 15rem;
          
          align-items: center;
      }
      .principal2{
          max-width: 100%;
          position: relative;
          margin: auto;
        }
        .meusslides{
         
          display: none;
        }
        
        
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 78rem;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          color: rgb(170, 11, 11);
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
        }
        .next {
          right: 4rem;
          border-radius: 3px 0 0 3px;
        }
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }
        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }
        
        .dot {
          cursor: pointer;
          height: 10px;
          width: 40px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 8px;
          display: inline-block;
          transition: background-color 0.6s ease;
        }
        .active, .dot:hover {
          background-color: #717171;
        }
        .part {
          animation-name: part;
          animation-duration: 1.5s;
        }
        @keyframes part {
          from {opacity: .4}
          to {opacity: 1}
        }
        .flexslide{
          display: flex;
          align-items: center;
        }
       
        .passo{
          font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
      font-size: 20px;
      padding: 0px 0px 30px;
        }
        .principalslide{
          background-color: aqua;
      display: grid;
      grid-template-columns: 20% 70% ;
      gap: 40px;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
      padding: 40px;
        }
        .principalslide img{
        width: 100%;
        }
        .textoslide{
          position: relative;
          top: 0;
          left: 0;
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
        }
        .tituloslide{
          padding-left: 0px ;
          font-family: "Nunito Sans", sans-serif;
          font-weight: bolder;
          font-size: 50px;
         
        }
        .paitexto{
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
        }
  }