* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 300vh;
    
  }
  body {
    font-family: "Nunito Sans", sans-serif;
  }
  .menu_2{
    padding-top: 50px;
  }
  .container-texto{
    padding: 50px 50px;
   
  }

  .spantexto{
    font-weight: bolder;
    font-size: 30px;
  }
  .spantexto2{
    display: flex;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 60px;
  }
  .menu3{
    padding: 30px 0 30px 0 ;
    display: flex;
    font-weight: 600;
    gap: 50px;
  }
  .selecao{
    font-weight: bolder;
  }
  .inputs-menu{
    display: flex;
    border-radius: 9px;
    justify-content: center;
    width:78vw;
    box-shadow: 0px 5px 20px 7px rgb(177, 175, 175);
  }
  .inputdate{
    display: flex;
    align-items: center;
   
    
  }
  .center2{
    display: flex;
    justify-content: center;
  }
  .d1{
    display: flex;
  }
  .inputtext{
    display: flex;
    border-radius: 8px 0px 0px 8px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 18rem;
    height: 4rem;
  }
  .textoflex input{
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
  }
  .textoflex{
    display: flex;
    flex-direction: column;
  }
  .inputtext i{
    padding: 10px;
    font-size: 26px
  }
  .inputdate i{
    padding: 10px;
    font-size: 26px
  }
  .hotel-acess i{
    padding-right: 8px;
    color: rgb(7, 109, 122);
  }
  .hotel-class i{
    padding-right: 8px;
  }
  .inputop i{
    padding: 10px;
    font-size: 26px
  }
  .textoflex span{
    font-size: 15px;
  }
 .date{
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 10rem;

 }
 input[type='date']{
    font-size: 17px;
    border: none;
    outline: none;
 }
 #d2::-webkit-calendar-picker-indicator{
  cursor: pointer;
  padding: 20px;
  top: 23rem;
  left: 28rem;
  width:9vw ;
  background-color: blue;
 opacity: 0;
 position: absolute;
 }
 #d3::-webkit-calendar-picker-indicator{
  position: absolute;
  cursor: pointer;
  padding: 20px;
  top: 23rem;
  opacity: 0;
  left: 40rem;
  width:7vw ;
  background-color: blue;
 }
 .date span{
    font-size: 15px;
 }
 .inputop{
  display: flex;
  align-items: center;
    background-color: rgb(255, 255, 255);
    width: 18rem;
    height: 4rem;
 }
  .bntn button{
    width: 8rem;
    background-color: rgb(3, 92, 87);
    color: white;
    font-weight: 600;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    border: none;
    height: 4rem;
    border-radius: 0px 8px 8px 0px;
  }
  .menu-hoteis{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 70px;
  }
  .heteis-img img{
    width: 100%;border-radius: 15px 15px 0 0;
  }
 .opcoes-hoteis:hover {
filter: brightness(0.9);
  }
  .opcoes-hoteis{
    
    display: flex;
    width: 30%;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 15px;
  }
  .heteis-texto{
  
    width: 95%;
     padding: 10px 10px;
  }
  .hotel-titulo{
    font-size: 20px;
    font-weight: bolder;
  }
  .hotel-class{
    display: flex;
    gap: 50px;
    padding: 6px 0 20px 0;
  }
  .hotel-acess{
    display: flex;
    justify-content:space-around ;
    font-weight: bolder;
  }

  .esp{
    display: flex;
    padding-top: 70px;
  }
  .center{
display: flex;
flex-direction: column;
width: 15rem;
align-items: center;
  }
  .opimg-pai{
    padding-top: 40px;
display: flex;
gap: 50px;
  }
  .opimg1{
    background-image: url(imagens/hoteis/fg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .opimg2{
    background-image: url(imagens/hoteis/gr.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .opimg3{
    background-image: url(imagens/hoteis/rj.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .opimg4{

    background-size: cover;
    background-image: url(imagens/hoteis/sp.webp);
    background-repeat: no-repeat;
    flex-direction: column;
    border-radius: 10px;
  }
  .imght{
    width: 29vw;
    height: 50vh;
  }
  .precos2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .p1{
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    width: 7rem;
background-color: white;
border-radius: 10px;
  }
  .p1-2{
    width: 9rem;
  }
  .p3{
    
    color: rgb(39, 163, 122);
  }

  .p4{
    font-size: 20px;
    padding: 5px;
    width: 7rem;
    font-weight: bolder;
    border-radius: 10px;
    background-color: white;
  }
  .p4-2{
    width: 8rem;
  }
  .p5{
    font-size: 20px;
    padding: 5px;
    width: 8rem;
    font-weight: bolder;
    border-radius: 10px;
    background-color: white;
  }
  .hr:hover{
    filter: brightness(0.9);
  }
  hr{
    position: relative;
    left: -10;
  
    width: 20vw;
  }
  .titulo-texto{
    font-size: 26px;
    font-weight: bolder;
  }
  .subtitulo{
    font-weight: 600;
    font-size: 18px;
    display: flex;
    width: 16rem;
  }
  .slide3{
    display: grid;
    padding-top: 150px;
    width: 100vw;
    grid-template-columns: 300px auto;
  }
  .anima2{
    overflow: auto;
  }
  .slidetexto{
   display: grid;
   gap: 100px;
   grid-template-columns: auto auto auto auto;
  }
  .tituloslide{
    font-weight: bolder;
    font-size: 20px;
  }
  .b4{
    overflow: hidden;
  }
  .odin2{
    display: none;
    position: absolute;
    left:59%;
    top: 65%;
    width: 20vw;
    height: 9rem;
    background-color: #ffffff;
    border: 1px solid black;
   }
   .cheks{
    display: flex;
    opacity: 0;
    top: 21rem;
    left: 51rem;
    position: absolute;
   }
   .cheks input{
    cursor: pointer;
    width: 18vw;
    height: 10vh;
  padding: 9rem;
  
   }
   .display-flex{
    display: flex;
   }
   .nomes1{
    margin-top: 15px;
    padding-left: 10px;
     }
     .nomes{
      padding-left: 10px;
     }
     .lula{
      margin-left: 10px;
     }
     .bnt{
      
      margin-top: 5px;
      padding-left:70px ;
    }
    .bnt span{
      color: #0a5f74;
      font-weight: 1000;
    }
    .cris{
      margin-top: 27px;
      padding-left: 70px;
     }
     .cris span{
      
      font-weight: bold;
      color: #0a5f74;
     }
     .quartos{
       
      margin-top: 20px;
      padding-left: 70px;
     }
     .quartos2{
      margin-top: 10px;
      margin-left: 10px;
     }
     .labs, .allputs, #allbnt {
      font-size: inherit;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
  }
  #allputs[type="number"]{
    outline:none;
    border: 0px;
    width: 13px;
    
    
    }

  #allbnt{
      border: 1px solid #000000;
      width: 25px;
      height: 25px;
   
      cursor: pointer;
      border-radius: 50%;
  }
  .b{
    background-color: transparent;
    font-weight: bold;
    margin-left: 10px;
  }
  .a{
    background-color: transparent;
    font-weight: bold;
  }
    