* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;


  }
  body {
    font-family: "Nunito Sans", sans-serif;
  }
  .menu_2{
    padding-top: 50px;
  }
  .container-texto{
    padding: 50px 50px;
   
  }

  .spantexto{
    font-weight: bolder;
    font-size: 30px;
  }
  .spantexto2{
    display: flex;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 60px;
  }
  .menu3{
    padding: 30px 0 70px 0 ;
    display: flex;
    font-weight: 600;
    gap: 50px;
  }
  .menu4{
    padding: 30px 0 0px 0 ;
    display: flex;
    font-weight: 600;
    gap: 50px;
  }
  .z1{
    display: none;
    position: absolute;
    top: 20rem;
    left: 2.9rem;
    width: 8rem;
    background-color: #0a5f74;
    height: 3px;
 display: flex;
  }
  .z2{
    opacity: 0;
    position: absolute;
    top: 20rem;
    left:11rem;
    width: 8rem;
    background-color: #0a5f74;
    height: 3px;
 display: flex;
  }
  .z3{
    opacity: 0;
    position: absolute;
    top: 20rem;
    left:19.5rem;
    width: 8rem;
    background-color: #0a5f74;
    height: 3px;
 display: flex;
  }

 .b1{
  color: #0a5f74;
 }
  .br1{
    background-color: #0a5f74;
    position: absolute;
    top: 38rem;
    left: 2rem;
    display: flex;
    width: 5rem;
    height: 3px;
  }
  .br2{
    background-color: #0a5f74;
    position: absolute;
    top: 38rem;
    left: 8.2rem;
    display: flex;
    opacity: 0;
    width: 5rem;
    height: 3px;
  }
  .br3{
    background-color: #0a5f74;
    position: absolute;
    top: 38rem;
    left: 14.5rem;
    display: flex;
    width: 5rem;
    height: 3px;
    opacity: 0;
  }
  .menu4 span{
    cursor: pointer;
  }
  .ht{
    cursor: pointer; 
   }
   .casa{
    cursor: pointer;
   }
  .inputs-menu{
    display: flex;
    border-radius: 9px;
    justify-content: center;
    width:78vw;
    box-shadow: 0px 5px 20px 7px rgb(177, 175, 175);
  }
  .inputdate{

    display: flex;
    align-items: center;
   
    
  }
  .center2{
    
    display: flex;
    justify-content: center;
  }
  .d1{
    display: flex;
  }
  .inputtext{
  
    display: flex;
    border-right: 1px solid rgb(224, 224, 224);
    border-radius: 8px 0px 0px 8px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 18rem;
    height: 4rem;
  }
  .textoflex input{
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
  }
  .textoflex{
    display: flex;
    flex-direction: column;
  }
  .inputtext i{
    padding: 10px;
    font-size: 26px
  }
  .inputdate i{
    padding: 10px;
    font-size: 26px
  }
  .hotel-acess i{
    padding-right: 8px;
    color: rgb(7, 109, 122);
  }
  .hotel-class i{
    padding-right: 8px;
  }
  .inputop i{
    padding: 10px;
    font-size: 26px
  }
  .textoflex span{
    font-size: 15px;
  }
 .date{
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 10rem;

 }
 .b5{
  border-right: 1px solid rgb(199, 199, 199);
 }
 input[type='date']{
    font-size: 17px;
    border: none;
    outline: none;
 }
 #d2::-webkit-calendar-picker-indicator{
  cursor: pointer;
  padding: 20px;
  top: 21rem;
  left: 28rem;
  width:9vw ;
  background-color: blue;
 opacity: 0;
 position: absolute;
 }
 #d3::-webkit-calendar-picker-indicator{
  position: absolute;
  cursor: pointer;
  padding: 20px;
  top: 21rem;
  opacity: 0;
  left: 40rem;
  width:7vw ;
  background-color: blue;
 }
 .date span{
    font-size: 15px;
 }
 .b6{
  padding-left: 10px;
 }
 .inputop{
  display: flex;
  border-left: 1px solid rgb(199, 199, 199);
  align-items: center;
    background-color: rgb(255, 255, 255);
    width: 18rem;
    height: 4rem;
 }
  .bntn button{
    width: 8rem;
    background-color: rgb(3, 92, 87);
    color: white;
    font-weight: 600;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    border: none;
    height: 4rem;
    border-radius: 0px 8px 8px 0px;
  }
  .menu-hoteis{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 70px;
  }
  .heteis-img img{
    width: 100%;border-radius: 15px 15px 0 0;
  }
 .opcoes-hoteis:hover {
filter: brightness(0.9);
  }
  .opcoes-hoteis{
    
    display: flex;
    width: 30%;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 15px;
  }
  .heteis-texto{
  
    width: 95%;
     padding: 10px 10px;
  }
  .hotel-titulo{
    font-size: 20px;
    font-weight: bolder;
  }
  .hotel-class{
    display: flex;
    gap: 50px;
    padding: 6px 0 20px 0;
  }
  .hotel-acess{
    display: flex;
    justify-content:space-around ;
    font-weight: bolder;
  }


  .center{
display: flex;
flex-direction: column;
width: 15rem;
align-items: center;
  }
  .opimg-pai{
    padding: 0px 0px 90px;
display: flex;
gap: 50px;
  }
  .opimg1{
    background-image: url(imagens/hoteis/fg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .opimg2{
    background-image: url(imagens/hoteis/gr.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .opimg3{
    background-image: url(imagens/hoteis/rj.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .opimg4{

    background-size: cover;
    background-image: url(imagens/hoteis/sp.webp);
    background-repeat: no-repeat;
    flex-direction: column;
    border-radius: 10px;
  }
  .imght{
    width: 29vw;
    height: 50vh;
  }
  .precos2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .p1{
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    width: 7rem;
background-color: white;
border-radius: 10px;
  }
  .p1-2{
    width: 9rem;
  }
  .p3{
    
    color: rgb(39, 163, 122);
  }

  .p4{
    font-size: 20px;
    padding: 5px;
    width: 7rem;
    font-weight: bolder;
    border-radius: 10px;
    background-color: white;
  }
  .p4-2{
    width: 8rem;
  }
  .p5{
    font-size: 20px;
    padding: 5px;
    width: 8rem;
    font-weight: bolder;
    border-radius: 10px;
    background-color: white;
  }
  .hr:hover{
    filter: brightness(0.9);
  }

  .titulo-texto{
    font-size: 26px;
    font-weight: bolder;
  }
  .subtitulo{
    font-weight: 600;
    font-size: 18px;
    display: flex;
    width: 16rem;
  }
  .slide3{
    display: grid;
    padding-top: 150px;
    width: 100vw;
    grid-template-columns: 300px auto;
  }
  
  .slidetexto{
   display: grid;
   gap: 100px;
   grid-template-columns: auto auto auto auto;
  }
  .tituloslide{
    font-weight: bolder;
    font-size: 20px;
  }
  .b4{
    overflow: hidden;
  }
  .odin2{
    display: none;
    position: absolute;
    left:59%;
    top: 65%;
    width: 20vw;
    height: 9rem;
    background-color: #ffffff;
    border: 1px solid black;
   }
   .cheks{
    display: flex;
    opacity: 0;
    top: 21rem;
    left: 51rem;
    position: absolute;
   }
   .cheks input{
    cursor: pointer;
    width: 18vw;
    height: 10vh;
  padding: 9rem;
  
   }
   .display-flex{
    display: flex;
   }
   .nomes1{
    margin-top: 15px;
    padding-left: 10px;
     }
     .nomes{
      padding-left: 10px;
     }
     .lula{
      margin-left: 10px;
     }
     .bnt{
      
      margin-top: 5px;
      padding-left:70px ;
    }
    .bnt span{
      color: #0a5f74;
      font-weight: 1000;
    }
    .cris{
      margin-top: 27px;
      padding-left: 70px;
     }
     .cris span{
      
      font-weight: bold;
      color: #0a5f74;
     }
     .quartos{
       
      margin-top: 20px;
      padding-left: 70px;
     }
     .quartos2{
      margin-top: 10px;
      margin-left: 10px;
     }
     .labs, .allputs, #allbnt {
      font-size: inherit;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
  }
  #allputs[type="number"]{
    outline:none;
    border: 0px;
    width: 13px;
    
    
    }

  #allbnt{
      border: 1px solid #000000;
      width: 25px;
      height: 25px;
   
      cursor: pointer;
      border-radius: 50%;
  }
  .b{
    background-color: transparent;
    font-weight: bold;
    margin-left: 10px;
  }
  .a{
    background-color: transparent;
    font-weight: bold;
  }
    .paitextos{
      display: grid;
       justify-content: center;
       gap: 40px;
      grid-template-columns: 500px 500px ;
    }
    .titulotexto{
      font-weight: bolder;
      font-size: 20px;
     padding:0 0 20px;
    }
    .subtextos{
      font-size: 14px;
    }
    .mais{
  
       padding: 50px 20px;
       display: flex;
       justify-content: end;
     }
     .mais span{
       cursor: pointer;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 8px;
       border: 1px solid rgb(184, 183, 183);
        width: 6rem;
     }
     .mais a{
       font-weight: bolder;
       text-decoration: none;
       color: rgb(0, 54, 99);
     }
     .mais2{
  
      padding-right: 20px;
       display: flex;
       justify-content: end;
     }
     .mais2 span{
       cursor: pointer;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 8px;
       border: 1px solid rgb(184, 183, 183);
        width: 6rem;
     }
     .mais2 a{
       font-weight: bolder;
       text-decoration: none;
       color: rgb(0, 54, 99);
     }
  @media (max-width:480px) {
    .center2{
     
      display: flex;
      justify-content: center;
    }
  .container-texto{
    padding: 10px 10px;
  }
  .spantexto{
    font-size: 4.5vw;
  }
  .menu3{
    padding: 30px 0 70px 0 ;
    display: flex;
    justify-content: center;
    font-weight: 600;
    gap: 50px;
  }
  .z1{
    display: none;
    position: absolute;
    top: 55vh;
    left: 2.6rem;
    width: 8rem;
    background-color: #0a5f74;
    height: 3px;
 display: flex;
  }
  .z2{
    opacity: 0;
    position: absolute;
    top: 18rem;
    left:10.5rem;
    width: 8rem;
    background-color: #0a5f74;
    height: 3px;
 display: flex;
  }
  .z3{
    opacity: 0;
    position: absolute;
    top: 18rem;
    left:19rem;
    width: 8rem;
    background-color: #0a5f74;
    height: 3px;
 display: flex;
  }
  
  .inputs-menu{
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    justify-content: center;
    width:90%;
    box-shadow: 0px 5px 20px 7px rgb(177, 175, 175);
  }
  .bntn button{
    width: 100%;
    background-color: rgb(3, 92, 87);
    color: white;
    font-weight: 600;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    border: none;
    height: 4rem;
    border-radius: 0px 0px 8px 8px;
  }
  .inputtext{
    display: flex;
    border: none;
    border-bottom: 1px solid rgb(219, 219, 219);
    border-radius: 8px 8px 0px 0px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 4rem;
  }
  .inputdate{
    display: none;
    align-items: center;
   border-bottom: 1px solid rgb(219, 219, 219);
    
  }
  .inputop{
    display: flex;
    border-left: 1px solid rgb(199, 199, 199);
    align-items: center;
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 4rem;
   }
   .odin2{
    display: none;
    position: absolute;
    left:10%;
    top:33rem;
    width: 79vw;
    height: 9rem;
    background-color: #ffffff;
    border: 1px solid black;
   }
   .bnt{
      
    margin-top: 5px;
    padding-left:150px ;
  }
  .bnt span{
    color: #0a5f74;
    font-weight: 1000;
  }
  .cris{
    margin-top: 27px;
    padding-left: 150px;
   }
   .cris span{
    
    font-weight: bold;
    color: #0a5f74;
   }
   .quartos{
     
    margin-top: 20px;
    padding-left: 150px;
   }
   .cheks{
    display: flex;
    opacity: 0;
    background-color: #000000;
    top: 29rem;
    left:3.5rem;
    position: absolute;
   }
   .cheks input{
    cursor: pointer;
    width: 75.9vw;
    height: 11vh;
  padding: 9rem;
  
   }
   .opcoes-hoteis{
    display: flex;
    width: 80%;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 15px;
  }
  .menu-hoteis{
    display: grid;
    grid-template-columns: 400px 400px 400px;
padding-left: 630px;
padding-right: 550px;
      gap: 10px;
      
    padding-top: 70px;
  }
  .animation{
    height: 95vw;
    overflow: auto;
  }
  .animation2{
  height: 56vh;
    overflow: auto;
  }
 
  .animation::-webkit-scrollbar{
    display: none;
  }
  .animation2::-webkit-scrollbar{
    display: none;
  }
  .paitextos{
    display: flex;
     justify-content: center;
     gap: 40px;
     flex-direction: column;
  }
  .opimg-pai{
    display: grid;
    grid-template-columns: 260px 260px 260px 260px;
    padding: 0px 0px 0px;
   
    gap: 20px;

  }
.imght{
    width: 50vw;
    height: 50vh;
  }

.mais{
  
 padding-right: 20px;
  display: flex;
  justify-content: end;
}
.mais span{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid rgb(184, 183, 183);
   width: 6rem;
}
.mais a{
  font-weight: bolder;
  text-decoration: none;
  color: rgb(0, 54, 99);
}
.mais2{
  padding: 0 0 70px;
  padding-right: 20px;
   display: flex;
   justify-content: end;
 }
 .mais2 span{
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   border: 1px solid rgb(184, 183, 183);
    width: 6rem;
 }
 .mais2 a{
   font-weight: bolder;
   text-decoration: none;
   color: rgb(0, 54, 99);
 }
  }