@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 600vh;
}
body {
  font-family: "Nunito Sans", sans-serif;
  color: rgb(65, 64, 66);
  background-color: white;
}
.span-img {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  background-image: none;
  opacity: 1;
  border: 0;
  margin: 0;
}
.logo-img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.logo-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center left;
}
.home_nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  row-gap: 1rem;
  column-gap: 0.5rem;
  text-decoration: none;
}
.nav-text-home {
  color: rgb(102, 102, 102);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}
.home_nav i {
  color: rgb(102, 102, 102);
  font-size: 1rem;
  min-width: 1rem;
  text-decoration: none;
}
.user-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  row-gap: 1rem;
  column-gap: 0.5rem;
  text-decoration: none;
}
.user-nav i {
  color: rgb(102, 102, 102);
  font-size: 1rem;
  min-width: 1rem;
  text-decoration: none;
}
.nav-text-user {
  color: rgb(102, 102, 102);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}
.ajuda-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  row-gap: 1rem;
  column-gap: 0.5rem;
  text-decoration: none;
}
.ajuda-nav i {
  color: rgb(102, 102, 102);
  font-size: 1rem;
  min-width: 1rem;
  text-decoration: none;
}
.nav-text-ajuda {
  color: rgb(102, 102, 102);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

.nav_1 {
  margin-left: 50vh;
  margin-left: auto;
  display: flex;
  gap: 4rem;
  row-gap: 4rem;
  column-gap: 4rem;
  transition: 0.3s;
}
.logo-a {
  height: 40px;
  position: relative;
  width: 132px;
}
.container-base {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  margin-right: 2rem;
}

.container {
  display: flex;
  z-index: 3;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(37, 37, 39, 0.25) 0.5rem 0.5rem 2rem 0px;
}

.video-familia {
  z-index: 5;
  overflow: hidden;
  height: 80vh;
  
}
@media (max-width:780px) {
  .video-familia{
    z-index: 5;
    overflow: hidden;
  height: 50vh;
  }
}
@media (max-width:490px) {
  .video-familia{
    
    
  height: initial;
  }
}
.video-familia video {
  z-index: 5;
  display: flex;
  width: 100vw;
}
.nav-texto {
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  padding-bottom: 0.3rem;
  font-weight: bold;
}
.nav-texto {
  overflow: auto;
  font-size: 1.4rem;
}
.nav_2 a {
  text-decoration: none;
  color: #000;
}

.icon-nav {
  margin-left: 20px;
}
.link {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0.8rem 1.7rem;
}

.nav-li {
  display: list-item;
}
.nav-list-2 {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.nav-list-2 {
  margin: 0px 1rem;
  display: flex;
  white-space: nowrap;
  left: 0px;
  padding: 0px;
  justify-content: space-between;
  min-width: min(100vw - 4rem, 1286px);
}
.nav_2 i {
  font-size: 1.5vw;
}
@media (max-width:780px) {
  .nav_2 i {
    font-size: 3vw;
  }
  .text-desconto{
    font-size: 2.4vw;
    text-align: center;
  }
}
@media (max-width:490px) {
  .nav_2 i {
    font-size: 4vw;
  }
}
.nav-li {
  list-style: none;
}
.nav-2 {
  display: flex;
  justify-content: center;
  top: 0px;
  left: 0px;
  margin: 0px;
  overflow: auto hidden;
  white-space: nowrap;
  z-index: 1;
  margin-top: 0px;
  background-color: transparent;
}

.espaco {
  margin: 0px 1.2rem;
  display: flex;
  white-space: nowrap;
  left: 0px;
  padding: 0px;
  justify-content: space-between;
  min-width: min(100vw - 4rem, 1286px);
}
.menu-2 {
  background-color: rgb(238, 237, 237);
}
.nav-list-2 li i {
  padding-bottom: 0.5rem;
  white-space: normal;
  text-align: center;
  display: block;
}
.menu-img1 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1rem 1rem 1.6rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 780px) {
.menu-img1{
  flex-flow: wrap;
  gap: 4rem 2rem;
  max-width: 1287px;
  margin: 0px auto;
  padding: 0px;
   }
}


.menu-img {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 1rem 1rem 1.6rem;
    justify-content: center;
    align-items: center;
   
  
}
@media (min-width: 780px) {
  .menu-img{
    flex-flow: wrap;
    gap: 4rem 2rem;
    max-width: 1287px;
    margin: 0px auto;
    padding: 0px;
   
  
  }
}

.img-a {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  align-items: center;
  width: 100%;
  height: 65px;
  position: relative;
  background: rgb(255, 255, 255);
  box-shadow: rgba(166, 171, 189, 0.25) 0px 0px 2.4333rem 0px;
  text-decoration: none;

  
}
@media (min-width:780px) {
   .img-a{
 
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 290px;
    height: 290px;
    padding: 0px 3.5rem;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    box-shadow: rgba(37, 37, 39, 0.25) 0.5rem 0.5rem 2rem 0px;
   }
}
.div-img {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  inset: 0px;
  
  
}
.destaque {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 1rem;
 filter: brightness(0.8);
  
}
@media(min-width:781px) and (max-width:899px) {
  .video-familia {
    z-index: 5;
    overflow: hidden;
    height: 50vh;
    
  }
}
@media(min-width:781px) and (max-width:1055px) {

}



.img-a:hover button {
  transition: 0.3s;
  background-color: #ffffff;
  color: black;
}
.img-a:hover {
  transition: 0.3;
  transform: scale(1.1);
  filter: none;
}
@media (max-width:780px) {
  .img-a:hover {
    transition: 0.3;
    transform: scale(1);
    filter: none;
  }
  
}
.nav-li :hover {
  transition: 0.3s;
  color: #025e73;
}
.home-nav:hover  {
  transition: 0.3s;
  color: #f2a71b;

}

.div-preco-maragogi {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 100px;
  max-width: 100px;
  padding: 0.7rem 1rem 0px 0px;
 
}
@media (min-width:780px) {
  .div-preco-maragogi{
    padding: 1.9rem 0px 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    mix-blend-mode: lighten;

  }
 
}

.span-preco1 {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
}
.span-preco2 {
  text-decoration: line-through;
  color: inherit;
  font-size: 1.5rem;
}
.span-preco3 {
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.span-preco4 {
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.text-desconto {
  padding: 2rem;
}
.bnt-sp {
  height: 40px;
  border-radius: 2.7rem;
  color: rgb(255, 255, 255);
  border: 0.1rem solid rgb(255, 255, 255);
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  width: 100% ;
  z-index: 1;
  
}
@media (max-width:780px) {
  .bnt-sp{
    width: 80% ;
    margin-right: 1rem;
    
  }
  .bnt-span {
  color: inherit;
  line-height: 2.3rem;
  font-weight: 300;
 
}
}
.animacao{
  overflow: auto;
}
.animacao::-webkit-scrollbar{
  display: none;
}
.bnt-span2 {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: center;
  
}
.bnt-span {
  color: inherit;
  font-size: 1.5rem;
  line-height: 2.3rem;
  font-weight: 400;
  
}
@media (max-width:490px) {
  .bnt-span {
    font-size: 1rem;
  }
  .bnt-sp{
    width: 50% ;
    margin-right: 1rem;
    
  }

}
.espaco-bnt {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
 
  
}
@media (min-width: 780px) {
  .bnt-sp a{
    display: inherit;
  }
  .bnt-sp{
  display: inherit;
}
}
.pai_img{
  flex-flow: wrap;
  gap: 4rem 4.2rem;
  max-width: 1287px;
  margin: 0px auto;
  padding: 0px;
}
@media (min-width:780px) {
  .pai_img{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 1rem 1rem 1.6rem;
    justify-content: center;
    align-items: center;

  }
}
.text_inter{
  
  padding: 2rem;
}
.titulos{
  z-index: 2;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
@media (max-width:780px) {
  .titulos{
    position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
  padding-left: 2rem;
  border-radius: 1rem 0px 0px 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  }
}
@media (max-width:600px) {
  .titulos{
    font-size: 0.7rem;
  }
}
@media (max-width:490px) {
  .titulos{
    padding-left: 1.5rem;
    font-size: 0.8rem;
  }
}

@media (max-width:780px) {
  .div-preco-maragogi{
    display: none;
  }
}
.menu .menu-lines{
  position: absolute;
  z-index: 999;
  width: 35px;
  height: 35px ;
  right: 20px;
  top: 10px;
}
.menu .check{
  position: absolute;
  z-index: 1000;
  width: 35px;
  height: 35px;
  opacity: 0;
  cursor: pointer;
  right: 20px;
  top: 10px;
}
.menu .menu-lines span{
  display: block;
  width: 35px;
  height: 5px;
  margin-bottom: 5px;
  background-color: rgb(102, 102, 102);
  border-radius: 3px;
  transition: all ease .2s;
}
.menu .check:checked ~ .menu-lines span{
 
background-color: rgb(192, 0, 0);

}
.menu .check:checked ~ .menu-lines span:nth-child(1){
transform-origin: 0% 0%;
transform: rotate(45deg) scaleX(0.9);
}
.menu .check:checked ~ .menu-lines span:nth-child(2){
  opacity: 0;
}
.menu .check:checked ~ .menu-lines span:nth-child(3){
  transform-origin: 0% 100%;
transform: rotate(-45deg) scaleX(0.9) ;
}
.menu ul{
  position: absolute;
  z-index: 998;
  left: 70vw;
  top: 50px;
  width: 350px;
  height: initial;
  background-color: rgb(255, 255, 255);
  
  margin-left: 1400vw;
  transition: all ease .3s;
  border-radius: 10px;
}
@media (max-width:900px) {
  .menu ul{
    position: absolute;
    z-index: 998;
    left: 70vw;
    top: 50px;
    width: 300px;
    height: initial;
    background-color: rgb(255, 255, 255);
    
    margin-left: 1500px;
    transition: all ease .2s;
    border-radius: 10px;
  }
  .home_nav{
    display: none;
  }
  .menu ul li{
    list-style: none;
    padding: 16px 15px;
  }
}
@media (max-width:790px) {
  .menu ul{
    position: absolute;
    z-index: 998;
    left: 65vw;
    top: 50px;
    width: 300px;
    height: initial;
    background-color: rgb(255, 255, 255);
    margin-left: 1500px;
    transition: all ease .2s;
    border-radius: 10px;
  }
  .menu ul li{
    list-style: none;
    padding: 16px 15px;
  }
}
@media (max-width:680px) {
  .menu ul{
    position: absolute;
    z-index: 998;
    left: 57vw;
    top: 50px;
    width: 300px;
    height: initial;
    background-color: rgb(255, 255, 255);
    margin-left: 1500px;
    transition: all ease .2s;
    border-radius: 10px;
  }
}
@media (max-width:580px) {
  .menu ul{
    position: absolute;
    z-index: 998;
    left: 49vw;
    top: 50px;
    width: 300px;
    height: initial;
    background-color: rgb(255, 255, 255);
    margin-left: 1500px;
    transition: all ease .2s;
    border-radius: 10px;
  }
}
@media (max-width:390px) {
  .menu ul{
    position: absolute;
    z-index: 998;
    left: 40vw;
    top: 50px;
    width: 300px;
    height: initial;
    background-color: rgb(255, 255, 255);
    margin-left: 1500px;
    transition: all ease .2s;
    border-radius: 10px;
  }
  .text_inter{
    text-align: center;
    padding: 0.9rem;
    font-size: 10px;
    font-weight: bold;
    
  }
}
.menu .check:checked ~ ul{
margin-left: 0;
}

.menu ul{
  border: 2px solid black;
}
.menu li{
  border-bottom: 1px solid rgb(237, 237, 237);
}
.menu ul li{
  
  list-style: none;
  padding: 20px 30px;
}
.menu ul li a{
  text-decoration: none;
  color: rgb(102, 102, 102);
  font-size: 18px;
  font-family: sans-serif;
}
@media (max-width:490px) {
  .menu ul li a{
    text-decoration: none;
    color: rgb(102, 102, 102);
    font-size: 15px;
    font-family: sans-serif;
  }
  .menu ul li{
    list-style: none;
    padding: 16px 15px;
  }
}
.menu li:hover{
  border-radius: 10px;
background-color: #f2a71b;
}
.menu ul li:hover a{
  color: white;
}
@media(min-width:900px) and (max-width:1000px) {
  .titulos{
    font-weight: bold;
    top: 10px;
    font-weight: 500;
    font-size: 12px;
  }
  .bnt-span2 {
    width: 95%;
    display: inherit;
    align-items: inherit;
    justify-content: center;
    
  }
  .bnt-span {
    color: inherit;
    font-size: 1.1rem;
    line-height: 2.3rem;
    font-weight: 400;
    
  }
  .video-familia {
    z-index: 5;
    overflow: hidden;
    height: 54vh;
    
  }
  .img-a{
    width: 200px;
    height: 200px;
    padding: 0px 2rem;
    
  }
}
@media(min-width:1001px) and (max-width:1255px) {
  .titulos{
    font-weight: bold;
    top: 10px;
    font-weight: 500;
    font-size: 12px;
  }
  .bnt-span2 {
    width: 95%;
    display: inherit;
    align-items: inherit;
    justify-content: center;
    
  }
  .bnt-span {
    color: inherit;
    font-size: 1.1rem;
    line-height: 2.3rem;
    font-weight: 400;
    
  }
  .video-familia {
    z-index: 5;
    overflow: hidden;
    height: 60vh;
    
  }
  .img-a{
    width: 225px;
    height: 225px;
    padding: 0px 0.9rem;
    
  }

}
@media(min-width:491px) and (max-width:680px) {
.video-familia{
  height: 38vh;
}

}

.banner img {
  margin-top: 5%; 
  width: 98.5vw;
  overflow-y: hidden;
  height: 30%;
}

@media (max-width:900px) {
  .banner {

  }
}

.paiinfo {
  margin-left: 7%;
  margin-top: 7%;
  width: 90vw;
  display: grid;  
} 


.infofilho {
  display: flex;
  width: 90vw;
  gap: 32px;
  grid-template-columns: auto auto auto auto;
  vertical-align: baseline;
} 

.info {
  width: 45%;
  justify-content: right;
  font-family: "Source Sans Pro";
  color: #f2a71b;
  font-size: 1.4rem;

}

.traco{
  width: 38vw;
  padding: 4% 0%;
}

.info2 {
  width: 30%;
  color: #025e73;
  padding-top: 2%;
  font-size: 1.5rem;

}


.infoimg2{
  width: 290px;
  max-width: 100px;
  height: 290px;
    /* padding: 0px 3.5rem; */
}


.paiimg {
 display: flex;
  height: auto;
 


}
.imginfo1{
  padding:  0 5%;
}
.imginfo2{
  padding: 6% 0;
}
.imginfo1 img{
  width: 20vw;
}
.imginfo2 img{
  width: 21vw;
}
.img1 img{
  display: flex;
}
.img2{
  padding: 3vw 0;
  display: flex;
}

.img3{
  display: flex;
}
.img4{
  padding: 5vw 0;
  display: flex;
}
.menu-night .chh{
  position: absolute;
  width: 35px;
  height: 35px;
  opacity: 0;
  cursor: pointer;
  z-index: 200;
}
.menu-night{
  z-index: 0; 
}
.menu-night .icon-night{
  z-index: 0;
   position: block;
   top: 0;
   right: 7.5%;
   font-size: 35px;
   color: rgb(102, 102, 102);
}

.comiss{
  
  height: 100%;
}

.contain li{
  text-align: center;
  position: relative;
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
}
.contain ul{
  text-align: center;
  display: flex;
  padding-inline-start: 0;
  list-style: none;
}
.img-comiss img{
  
  width: 20vw;
}
.img-comiss{
 width: 0;
  margin-bottom: 1rem;
  padding-left: 30px;
}
.contain span{
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.57142em;
}
.contain p{
  text-align: center;
}

.fim {
    padding: 10% ;
}

.fimtexto {
  display: flex;
  justify-content: space-between;
  padding: 0px auto;
  gap: 4rem 4rem;
  margin-left: 6.7rem;
}
.fimtexto1 {
  width: 40%;
}
.fimspan {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  color:#f2a71b;
}

.numlist {
  display: grid;
  grid-template-columns: 40% 350px;
}

.numlist li{
  list-style: none;
  padding: 5% 5% 5% 5%;
}

.num {
  color: blue ;
  font-weight: bolder;
  font-size: 1.1rem;
}


.textin{
  font-family: arial;
  font-size: 15px;
}

p {
  font-family: arial;
}


.credito {
  display: flex;
  width: 10vw;
}

.rodapefinal {
  margin-top: 100px;

}

.rodapefin{
  width: 100%;
  height: 20%;
  background-color: black;
}

.rodapetext {
  display: flex;
  margin-left: 6.7rem;
  align-items: center;
  color: white;

}
.pik {
  color: pink;
}

.textinho {
  margin-top: 27px;
  
}