*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  overflow-y: scroll;
  height: 300vh;
  }
body{
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(65, 64, 66);
    background-color: white;
}
.span-img{

  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  background-image: none;
  opacity: 1;
  border: 0;
  margin: 0;
}
.logo-img{
 
  overflow-clip-margin: content-box;
    overflow: clip;
}
.logo-img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center left;
}
.home-nav{

    display: flex;
    align-items: center;
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 0.5rem;
    text-decoration: none;
}
.nav-text-home{
  color: rgb(102, 102, 102);
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}
.home-nav i{
  color: rgb(102, 102, 102);
    font-size: 1rem;
    min-width: 1rem;
    text-decoration: none;
}
.user-nav{
  display: flex;
  align-items: center;
  gap: 1rem;
  row-gap: 1rem;
  column-gap: 0.5rem;
  text-decoration: none;
    
}
.user-nav i{
  color: rgb(102, 102, 102);
  font-size: 1rem;
  min-width: 1rem;
  text-decoration: none;
}
.nav-text-user{
    color: rgb(102, 102, 102);
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
}
.ajuda-nav{
  display: flex;
  align-items: center;
  gap: 1rem;
  row-gap: 1rem;
  column-gap: 0.5rem;
  text-decoration: none;
}
.ajuda-nav i{
  color: rgb(102, 102, 102);
  font-size: 1rem;
  min-width: 1rem;
  text-decoration: none;
}
.nav-text-ajuda{
  color: rgb(102, 102, 102);
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

.nav-1{
    margin-left:50vh ;
    margin-left: auto;
    display: flex;
    gap: 4rem;
    row-gap: 4rem;
    column-gap: 4rem;
    transition: 0.3s;
}
.logo-a{

    height: 40px;
    position: relative;
    width: 132px;
}
.container-base{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  margin-right: 2rem;
}

.container{
  display: flex;
  z-index: 3;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(37, 37, 39, 0.25) 0.5rem 0.5rem 2rem 0px;
}

.video-familia{
 height: 80vh;
 overflow: hidden;
}
.video-familia video{
  display: flex;
  width: 100vw;
}
.nav-texto{
  font-family: Montserrat, sans-serif;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    padding-bottom: 0.3rem;
    font-weight: bold;
}
.nav-texto{
  overflow: auto;
  font-size: 1.4rem;
}
.nav-2 a{
    text-decoration: none;
    color: #000;
  }

.icon-nav{
    margin-left: 20px;
  }
.link{
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0.8rem 1.7rem;
    
}
.nav-li {
  display: list-item;
}
.nav-list-2{
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.nav-list-2{
  margin: 0px 1rem;
  display: flex;
  white-space: nowrap;
  left: 0px;
  padding: 0px;
  justify-content: space-between;
  min-width: min(100vw - 4rem, 1286px);
  
}
.nav-2 i{
  font-size: 1.5vw;
}
.nav-li{
  list-style: none;
}
.nav-2{
  display: flex;
  justify-content: center;
  top: 0px;
  left: 0px;
  margin: 0px;
  overflow: auto hidden;
  white-space: nowrap;
  z-index: 1;
  margin-top: 0px;
  background-color: transparent;
}

.espaco{

    margin: 0px 2rem;
    display: flex;
    white-space: nowrap;
    left: 0px;
    padding: 0px;
    
    justify-content: space-between;
    min-width: min(100vw - 4rem, 1286px);
}
.menu-2{
 background-color: rgb(238, 237, 237);
}
.nav-list-2 li i{
    padding-bottom: 0.5rem;
    white-space: normal;
    text-align: center;
    display: block;
}
.menu-img{
 align-items: center;
  display: flex;
  justify-content: center;
}
.nav-img{
 display: flex;
 justify-content: space-between;
 
}
.img-a{
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  align-items: center;
  width: 100%;
  height: 1px;
  position: relative;
  box-shadow: rgba(166, 171, 189, 0.25) 0px 0px 2.4333rem 0px;
  text-decoration: none;
  transition: 0.3s;
}
.div-img{
  display: flex;
  top: 10rem;
  justify-content: space-between;
  border-radius: 1rem;
  align-items: center;
  width: 100%;
  height: 1px;
  position: relative;
  text-decoration: none;
  transition: 0.3s;
}
.destaque{
  transition: 0.3s;
  overflow: hidden;
  margin: 2rem;
  display: flex;
  width: 20vw;
  border-radius: 10px;
  box-shadow: rgba(37, 37, 39, 0.25) 0.5rem 0.5rem 2rem 0px;

}
.div-img:hover{
  transform: scale(1.1);
}
.nav-li :hover{
  transition: 0.2s;
  color: #f2a71b;
}
.nav-1 :hover{
  transition: 0.2s;
  color: #f2a71b;
}
#textsp { 
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: Nunito Sans, sans-serif;
  font-style: bold;
  position: absolute;
  top: -5rem;
  left: 6rem;

}

.precosp {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  position: absolute;
  top: -2.3rem;
  left: 4rem;

}

#textrj {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: Nunito Sans, sans-serif;
  font-style: bold;
  position: absolute;
  top: -5rem;
  left: 4.5rem;
}

#textsal {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: Nunito Sans, sans-serif;
  font-style: bold;
  position: absolute;
  top: -5rem;
  left: 6.5rem;
}
.div-preco-maragogi{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  max-width: 200px;
  padding: 0.7rem 1rem 0px 0px;
  left: 4.5rem;
}
.span-preco1{
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    
}
.span-preco2{
    text-decoration: line-through;
    
    color: inherit;
    font-size: 1.5rem;
    
    
}
.span-preco3{
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;

    font-weight: bold;
    
  
}
.span-preco4{
  color: inherit;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: bold;

}
.div-preco-maragogi  #textsp :hover{
  transform: scale(1.1);
}
.text-desconto{
  display: block;
  margin-left: 3rem;
  margin-top: 2rem;
}