@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

html {
    margin: 0;
    padding: 0; 
    height: 300vh; 
  }

  .span-img {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    background-image: none;
    opacity: 1;
    border: 0;
    margin: 0;
  }
  .logo-img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  .logo-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center left;
  }
  .home_nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 0.5rem;
    text-decoration: none;
  }
  .nav-text-home {
    color: rgb(102, 102, 102);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .home_nav i {
    color: rgb(102, 102, 102);
    font-size: 1rem;
    min-width: 1rem;
    text-decoration: none;
  }
  .user-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 0.5rem;
    text-decoration: none;
  }
  .user-nav i {
    color: rgb(102, 102, 102);
    font-size: 1rem;
    min-width: 1rem;
    text-decoration: none;
  }
  .nav-text-user {
    color: rgb(102, 102, 102);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .ajuda-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 0.5rem;
    text-decoration: none;
  }
  .ajuda-nav i {
    color: rgb(102, 102, 102);
    font-size: 1rem;
    min-width: 1rem;
    text-decoration: none;
  }
  .nav-text-ajuda {
    color: rgb(102, 102, 102);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  
  .nav_1 {
    margin-left: 50vh;
    margin-left: auto;
    display: flex;
    gap: 4rem;
    row-gap: 4rem;
    column-gap: 4rem;
    transition: 0.3s;
  }
  .logo-a {
    height: 40px;
    position: relative;
    width: 132px;
  }
  .container-base {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    margin-right: 2rem;
  }
  
  .container {
    display: flex;
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(37, 37, 39, 0.25) 0.5rem 0.5rem 2rem 0px;
  }

  .menu .menu-lines{
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px ;
    right: 20px;
    top: 10px;
  }
  .menu .check{
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
    right: 20px;
    top: 10px;
  }
  .menu .menu-lines span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    background-color: rgb(102, 102, 102);
    border-radius: 3px;
    transition: all ease .2s;
  }
  .menu .check:checked ~ .menu-lines span{
   
  background-color: rgb(192, 0, 0);
  
  }
  .menu .check:checked ~ .menu-lines span:nth-child(1){
  transform-origin: 0% 0%;
  transform: rotate(45deg) scaleX(0.9);
  }
  .menu .check:checked ~ .menu-lines span:nth-child(2){
    opacity: 0;
  }
  .menu .check:checked ~ .menu-lines span:nth-child(3){
    transform-origin: 0% 100%;
  transform: rotate(-45deg) scaleX(0.9) ;
  }
  .menu ul{
    position: absolute;
    z-index: 998;
    left: 70vw;
    top: 50px;
    width: 350px;
    height: initial;
    background-color: rgb(255, 255, 255);
    
    margin-left: 1400vw;
    transition: all ease .3s;
    border-radius: 10px;
  }
  @media (max-width:900px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 70vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
    .home_nav{
      display: none;
    }
    .menu ul li{
      list-style: none;
      padding: 16px 15px;
    }
  }
  @media (max-width:790px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 65vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
    .menu ul li{
      list-style: none;
      padding: 16px 15px;
    }
  }
  @media (max-width:680px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 57vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
  }
  @media (max-width:580px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 49vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
  }
  @media (max-width:390px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 40vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
}  
.menu .menu-lines{
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px ;
    right: 20px;
    top: 10px;
  }
  .menu .check{
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
    right: 20px;
    top: 10px;
  }
  .menu .menu-lines span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    background-color: rgb(102, 102, 102);
    border-radius: 3px;
    transition: all ease .2s;
  }
  .menu .check:checked ~ .menu-lines span{
   
  background-color: rgb(192, 0, 0);
  
  }
  .menu .check:checked ~ .menu-lines span:nth-child(1){
  transform-origin: 0% 0%;
  transform: rotate(45deg) scaleX(0.9);
  }
  .menu .check:checked ~ .menu-lines span:nth-child(2){
    opacity: 0;
  }
  .menu .check:checked ~ .menu-lines span:nth-child(3){
    transform-origin: 0% 100%;
  transform: rotate(-45deg) scaleX(0.9) ;
  }
  .menu ul{
    position: absolute;
    z-index: 998;
    left: 70vw;
    top: 50px;
    width: 350px;
    height: initial;
    background-color: rgb(255, 255, 255);
    
    margin-left: 1400vw;
    transition: all ease .3s;
    border-radius: 10px;
  }
  @media (max-width:900px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 70vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
    .home_nav{
      display: none;
    }
    .menu ul li{
      list-style: none;
      padding: 16px 15px;
    }
  }
  @media (max-width:790px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 65vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
    .menu ul li{
      list-style: none;
      padding: 16px 15px;
    }
  }
  @media (max-width:680px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 57vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
  }
  @media (max-width:580px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 49vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
  }
  @media (max-width:390px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 40vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
    .text_inter{
      text-align: center;
      padding: 0.9rem;
      font-size: 10px;
      font-weight: bold;
      
    }
  }
  .menu .check:checked ~ ul{
  margin-left: 0;
  }
  
  .menu ul{
    border: 2px solid black;
  }
  .menu li{
    border-bottom: 1px solid rgb(237, 237, 237);
  }
  .menu ul li{
    
    list-style: none;
    padding: 20px 30px;
  }
  .menu ul li a{
    text-decoration: none;
    color: rgb(102, 102, 102);
    font-size: 18px;
    font-family: sans-serif;
  }
  @media (max-width:490px) {
    .menu ul li a{
      text-decoration: none;
      color: rgb(102, 102, 102);
      font-size: 15px;
      font-family: sans-serif;
    }
    .menu ul li{
      list-style: none;
      padding: 16px 15px;
    }
  }
  .menu li:hover{
    border-radius: 10px;
  background-color: #f2a71b;
  }
  .menu ul li:hover a{
    color: white;
  }
  .menu-night .chh{
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
    z-index: 200;
  }
  .menu-night{
    z-index: 0; 
  }
  .menu-night .icon-night{
    z-index: 0;
     position: block;
     top: 0;
     right: 7.5%;
     font-size: 35px;
     color: rgb(102, 102, 102);
  }

.imagemab{
    padding-top:10vh ;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    transform-style: inherit; 
 
}
.imagemab::before{
    content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translateZ(-1px) scale(1.5);
}
.imagemab img{
    
    overflow: hidden;
    height: 50%;
    width: 50%;

z-index: 1;
}
.containerPrincipl{
    width: 100%;
    position: absolute;
    height: 100vh;
    background-color: #f2a71b;
    z-index: 2;
    perspective: 2px;
    overflow-x: hidden;
    transform-style: preserve-3d;
}
.letras{
    padding-top: 10vh;
}
h2, h1{
    font-size: 900;
    color: black;
}
main{
    display: block;
    background-color: aliceblue;
}
.principal{
    width: 100%;
    margin: 0 auto;
  }
    
.container2{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 90px 20px;
}
section.modulo p{
    margin-bottom: 40px;
}
section.modulo:last-child{
    margin-bottom: 0;
}
section.modulo h2{
    margin-bottom: 40px;
    font-size: 30px;
}
section.modulo.content{
    padding: 40px 0;
    background: #ece7d5; 
}
section.modulo.estilo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
section.module.estilo:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
}
section.modulo.estilo h1{
    color: #FFF;
    text-align: center;
    font-size: 500%;
    z-index: 50;
    text-transform: uppercase;
  }
section.modulo.estilo1{
    background-image: url("imagens/imgpromo/black-friday-.jpg");
  }
  section.modulo.estilo2{
    background-image: url("imagens/imgpromo/plane.jpg");
  }
  section.modulo.estilo3{
    background-image: url("imagens/info/airport-3511342_640.jpg");
  }
  .minutos, .segundos, .horas, .pontos{
    
    font-size: 540%;
    color: #FFF;
  }
  .circulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: #ffffff4f;    
    border-radius: 50%;
  }
  .nomenumbers{
    font-size: 20px;
    color: #FFF;
    font-weight: bold;
   
    
  }
  .tempo{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }