@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 600vh;
  }

  body {
    font-family: "Nunito Sans", sans-serif;
    color: rgb(65, 64, 66);
    background-color: white;
  }
  .span-img {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    background-image: none;
    opacity: 1;
    border: 0;
    margin: 0;
  }
  .logo-img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  .logo-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center left;
  }
  .home_nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 0.5rem;
    text-decoration: none;
  }
  .nav-text-home {
    color: rgb(102, 102, 102);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .home_nav i {
    color: rgb(102, 102, 102);
    font-size: 1rem;
    min-width: 1rem;
    text-decoration: none;
  }
  .user-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 0.5rem;
    text-decoration: none;
  }
  .user-nav i {
    color: rgb(102, 102, 102);
    font-size: 1rem;
    min-width: 1rem;
    text-decoration: none;
  }
  .nav-text-user {
    color: rgb(102, 102, 102);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .ajuda-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 0.5rem;
    text-decoration: none;
  }
  .ajuda-nav i {
    color: rgb(102, 102, 102);
    font-size: 1rem;
    min-width: 1rem;
    text-decoration: none;
  }
  .nav-text-ajuda {
    color: rgb(102, 102, 102);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  
  .nav_1 {
    margin-left: 50vh;
    margin-left: auto;
    display: flex;
    gap: 4rem;
    row-gap: 4rem;
    column-gap: 4rem;
    transition: 0.3s;
  }
  .logo-a {
    height: 40px;
    position: relative;
    width: 132px;
  }
  .container-base {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    margin-right: 2rem;
  }
  
  .container {
    display: flex;
    z-index: 3;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(37, 37, 39, 0.25) 0.5rem 0.5rem 2rem 0px;
  }.menu .menu-lines{
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px ;
    right: 20px;
    top: 10px;
  }
  .menu .check{
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
    right: 20px;
    top: 10px;
  }
  .menu .menu-lines span{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    background-color: rgb(102, 102, 102);
    border-radius: 3px;
    transition: all ease .2s;
  }
  .menu .check:checked ~ .menu-lines span{
   
  background-color: rgb(192, 0, 0);
  
  }
  .menu .check:checked ~ .menu-lines span:nth-child(1){
  transform-origin: 0% 0%;
  transform: rotate(45deg) scaleX(0.9);
  }
  .menu .check:checked ~ .menu-lines span:nth-child(2){
    opacity: 0;
  }
  .menu .check:checked ~ .menu-lines span:nth-child(3){
    transform-origin: 0% 100%;
  transform: rotate(-45deg) scaleX(0.9) ;
  }
  .menu ul{
    position: absolute;
    z-index: 998;
    left: 70vw;
    top: 50px;
    width: 350px;
    height: initial;
    background-color: rgb(255, 255, 255);
    
    margin-left: 1400vw;
    transition: all ease .3s;
    border-radius: 10px;
  }
  @media (max-width:900px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 70vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
    .home_nav{
      display: none;
    }
    .menu ul li{
      list-style: none;
      padding: 16px 15px;
    }
  }
  @media (max-width:790px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 65vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
    .menu ul li{
      list-style: none;
      padding: 16px 15px;
    }
  }
  @media (max-width:680px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 57vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
  }
  @media (max-width:580px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 49vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
  }
  @media (max-width:390px) {
    .menu ul{
      position: absolute;
      z-index: 998;
      left: 40vw;
      top: 50px;
      width: 300px;
      height: initial;
      background-color: rgb(255, 255, 255);
      margin-left: 1500px;
      transition: all ease .2s;
      border-radius: 10px;
    }
  }
  .menu .check:checked ~ ul{
    margin-left: 0;
    }
    
    .menu ul{
      border: 2px solid black;
    }
    .menu li{
      border-bottom: 1px solid rgb(237, 237, 237);
    }
    .menu ul li{
      
      list-style: none;
      padding: 20px 30px;
    }
    .menu ul li a{
      text-decoration: none;
      color: rgb(102, 102, 102);
      font-size: 18px;
      font-family: sans-serif;
    }
    @media (max-width:490px) {
      .menu ul li a{
        text-decoration: none;
        color: rgb(102, 102, 102);
        font-size: 15px;
        font-family: sans-serif;
      }
      .menu ul li{
        list-style: none;
        padding: 16px 15px;
      }
    }
    .menu li:hover{
      border-radius: 10px;
    background-color: #f2a71b;
    }
    .menu ul li:hover a{
      color: white;
    }
    .pai img{
      display: flex;
      width: 100%;
     
      overflow: hidden;
      height: 80vh;
      filter: brightness(0.8);
    }
    .input-pesq{
      background-color: #0000003b;
      border-radius: 20px;
      padding: 5% 10%;
      position: absolute;
      left: 10%;
      top: 30vh;
      
    }
    
    .inputs{
      outline: none;
      color: #0a5f74;
      padding: 25px;
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      font-weight: bold;
      width: 26vw;
      height: 10vh;
      border: 1px solid rgb(105, 105, 105);
      cursor: pointer;
    }
    .pesq-filho{
      display: flex;
      justify-content: space-around;
  
      
    }
    .inputs::-webkit-input-placeholder{

      color:rgb(105, 105, 105);
      font-style: italic;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-style: bold;
  }
  
  .forms-inp{
    padding: 4%;
    background-color: #fdfdfd21;
    border-radius: 20px;
    position: absolute;
    left: 20%;
    top: 20vh;
    
  }

  .radio-container label {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
  }
  #radio{
    display: none;
  }
  #radio1{
    display: none;
  }
  
  .custom-radio {
    border: 3px solid #000000;
    width: 24px;
    height: 24px;
    display: grid;
    cursor: pointer;
    place-content: center;
    border-radius: 50%;
  }
  
  .custom-radio,
  .th .cust{
    transition: 0.5s ease;
    font-weight: bold;
    color: #ffffff;
  }
  
  .custom-radio span {
    content: '';
    width: 14px;
    height: 14px;
    background: #000000;
    border-radius: 50%;
    cursor: pointer;
  }
  
  input[type='radio']:checked + .custom-radio {
    border-color: #e29e0c;
  }
  
  input[type='radio']:checked + .custom-radio span {
    background: #e7c60a;
  }
  .tipos{
    margin-left: 1px;
    cursor: pointer;
    background-color: #ffffff;
    text-align: center;
    margin-top: 5px;
    width: 15vw;
    height: 10vh;
  }
  .pass{
    margin-left: 5px;
    cursor: pointer;
    background-color: #ffffff;
    text-align: center;
    margin-top: 5px;
    width: 16.1vw;
    height: 10vh;
  }

  input[type=date]{
    margin-left: 5px;
    cursor: pointer;
    margin-top: 5px;
    font-family: 'Roboto Mono', monospace;
    padding-left: 5px;
    width: 10vw;
    height: 10vh;
   
    font-size: 15px;
    outline: none;
    font-weight: bold;
  }
  ::-webkit-calendar-picker-indicator{
    font-size: 24px;
    
    cursor: pointer;
    background-color: rgb(255, 255, 255);
  }
  #zeus{
   
  }
  .tipos span{
    color: #000000;
  }
  .pass span{
    color: #000000;
  }
  .paii{
    display: none;
   position: absolute;
    width: 15vw;
    top: 64%;
    left:24.1%;
    background-color:#bab490 ;
  }
  #korra{
    cursor: pointer;
    position: absolute;
    left: 7%;
    width: 15vw;
    height: 10vh;
    padding: 3%;
    opacity: 0;
  }
  .koripai{
display: flex;

  }
  #check-pass{
    cursor: pointer;
    position: absolute;
    left: 33.4%;
    width: 15vw;
    height: 10vh;
    padding: 3%;
    opacity: 0;
  }
  .allputs[type="number"]{
    outline:none;
    border: 0px;
    width: 13px;
    
    
    }
    .labs, .allputs, #allbnt {
        font-size: inherit;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }


    #allbnt{
        border: 1px solid #000000;
        width: 25px;
        height: 25px;
        
        cursor: pointer;
        border-radius: 50%;
    }
    .bnt{
      
      margin-top: 5px;
      padding-left:40px ;
    }
    .bnt span{
      color: #0a5f74;
      font-weight: 1000;
    }
    .cris{
      margin-top: 27px;
      padding-left: 40px;
     }
     .cris span{
      
      font-weight: bold;
      color: #0a5f74;
     }
     .display-flex{
      display: flex;
     }
     .nomes1{
    margin-top: 15px;
      
     }
     #total1{
      background-color: transparent;
      padding-left : 7px;
     }
     #total{
      background-color: transparent;
      padding-left : 7px;
     }
 
    .b{
      background-color: transparent;
      font-weight: bold;
      margin-left: 10px;
    }
    .a{
      background-color: transparent;
      font-weight: bold;
    }
   .lula{
    margin-left: 10px;
   }
   .odin{
    display: none;
    position: absolute;
    left: 39.7%;
    top: 64%;
    width: 16vw;
    background-color: #bab490;
   }
   input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
   input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
   }
   
   .P{
    margin-left: 5px;
   }
   .custom-radio span{
    
   }
   .cust{
    color: rgb(255, 255, 255);
    font-weight: 700;

   }
   .nomes{
    padding-left: 10px;
   }
   .nomes1{
    padding-left: 10px;
   }
   .textoprincipal h1{
    color: #ffffff;
    font-size: 2.5rem;
    padding-top: 1%;
  text-align: center;
   }
   form{
    padding-top: 5%;
   }
   .nav-texto {
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    padding-bottom: 0.3rem;
    font-weight: bold;
  }
  .nav-texto {
    overflow: auto;
    font-size: 1.4rem;
  }
  .nav_2 a {
    text-decoration: none;
    color: #000;
  }
  
  .icon-nav {
    margin-left: 20px;
  }
  .link {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0.8rem 1.7rem;
  }
  
  .nav-li {
    display: list-item;
  }
  .nav-list-2 {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  .nav-list-2 {
    margin: 0px 1rem;
    display: flex;
    white-space: nowrap;
    left: 0px;
    padding: 0px;
    justify-content: space-between;
    min-width: min(100vw - 4rem, 1286px);
  }
  .nav_2 i {
    font-size: 1.5vw;
  }
  @media (max-width:780px) {
    .nav_2 i {
      font-size: 3vw;
    }
    .text-desconto{
      font-size: 2.4vw;
      text-align: center;
    }
  }
  @media (max-width:490px) {
    .nav_2 i {
      font-size: 4vw;
    }
  }
  .nav-li {
    list-style: none;
  }
  .nav-2 {
    display: flex;
    justify-content: center;
    top: 0px;
    left: 0px;
    margin: 0px;
    overflow: auto hidden;
    white-space: nowrap;
    z-index: 1;
    margin-top: 0px;
    background-color: transparent;
  }
  
  .espaco {
    margin: 0px 1.2rem;
    display: flex;
    white-space: nowrap;
    left: 0px;
    padding: 0px;
    justify-content: space-between;
    min-width: min(100vw - 4rem, 1286px);
  }
  .menu-2 {
    background-color: rgb(238, 237, 237);
  }
  .nav-list-2 li i {
    padding-bottom: 0.5rem;
    white-space: normal;
    text-align: center;
    display: block;
  }