@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  }

  body {
    font-family: "Nunito Sans", sans-serif;
    color: rgb(65, 64, 66);
    background-color: white;
  }
  
    .input-pesq{
      background-color: #0000003b;
      border-radius: 20px;
      padding: 5% 10%;
      position: absolute;
      left: 10%;
      top: 30vh;
      
    }
    
    .inputs{
      width: 25vw;
  
    padding-left: 7px;
      outline: none;
      color: #0a5f74;
 
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      font-weight: bold;
     
      border: none;
      cursor: pointer;
    }
    .pesq-filho{
      display: flex;
      justify-content: space-around;
  
      
    }
    .inputs::-webkit-input-placeholder{

      color:rgb(105, 105, 105);
      font-style: italic;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-style: bold;
  }
  
  .forms-inp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4%;
    background-color: #fdfdfd21;
    border-radius: 20px;
    left: 20%;
    top: 20vh;
    
  }
.flex{
  display: flex;
  gap: 5px;
}
  .radio-container label {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
  }
  #radio{
    display: none;
  }
  #radio1{
    display: none;
  }
  
  .custom-radio {
    border: 3px solid #000000;
    width: 24px;
    height: 24px;
    display: grid;
    cursor: pointer;
    place-content: center;
    border-radius: 50%;
  }
  
  .custom-radio,
  .th .cust{
    transition: 0.5s ease;
    font-weight: bold;
    color: #ffffff;
  }
  
  .custom-radio span {
    content: '';
    width: 14px;
    height: 14px;
    background: #000000;
    border-radius: 50%;
    cursor: pointer;
  }
  
  input[type='radio']:checked + .custom-radio {
    border-color: #5194a5;
  }
  
  input[type='radio']:checked + .custom-radio span {
    background: #0a5f74;
  }
  .tipos{
    border: 1px solid rgb(105, 105, 105) ;
    margin-left: 1px;
    cursor: pointer;
    background-color: #ffffff;
    text-align: center;
    margin-top: 5px;
    width: 15vw;
    height: 10vh;
  }
  .pass{
    border: 1px solid rgb(105, 105, 105) ;
    margin-left: 5px;
    cursor: pointer;
    background-color: #ffffff;
    text-align: center;
    margin-top: 5px;
    width: 16.1vw;
    height: 10vh;
  }

  input[type=date]{
    margin-left: 5px;
    text-transform: uppercase;
    color: #767676;
    cursor: pointer;
    margin-top: 5px;
    font-family: 'Roboto Mono', monospace;
    padding-left: 5px;
    width: 10vw;
    height: 10vh;
    font-size: 15px;
    outline: none;
    font-weight: bold;
  }
  ::-webkit-calendar-picker-indicator{
    
    font-size: 24px;
    color: #767676;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
  }
  
  .tipos span{
    color: #000000;
  }
  .pass span{
    color: #000000;
  }
  .paii{
    display: none;
   position: absolute;
    width: 15vw;
    top: 59%;
    left:23.6%;
    background-color:#bab490 ;
  }
  #korra{
    cursor: pointer;
    position: absolute;
    left: 23.5%;
    top: 46.5vh;
    width: 15vw;
    height: 10vh;
    padding: 3%;
    opacity: 0;
  }
  .koripai{
display: flex;

  }
  #check-pass{
    cursor: pointer;
    position: absolute;
    left: 40%;
    top: 46.5vh;
    width: 15vw;
    height: 10vh;
    padding: 3%;
    opacity: 0;
  }
  .allputs[type="number"]{
    outline:none;
    border: 0px;
    width: 13px;
    
    
    }
    .labs, .allputs, #allbnt {
        font-size: inherit;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }


    #allbnt{
        border: 1px solid #000000;
        width: 25px;
        height: 25px;
        
        cursor: pointer;
        border-radius: 50%;
    }
    .bnt{
      
      margin-top: 5px;
      padding-left:40px ;
    }
    .bnt span{
      color: #0a5f74;
      font-weight: 1000;
    }
    .cris{
      margin-top: 27px;
      padding-left: 40px;
     }
     .cris span{
      
      font-weight: bold;
      color: #0a5f74;
     }
     .display-flex{
      display: flex;
     }
     .nomes1{
    margin-top: 15px;
      
     }
     #total1{
      background-color: transparent;
      padding-left : 7px;
     }
     #total{
      background-color: transparent;
      padding-left : 7px;
     }
 
    .b{
      background-color: transparent;
      font-weight: bold;
      margin-left: 10px;
    }
    .a{
      background-color: transparent;
      font-weight: bold;
    }
   .lula{
    margin-left: 10px;
   }
   .odin{
    display: none;
    position: absolute;
    left: 39.2%;
    top: 59%;
    width: 16vw;
    background-color: #bab490;
   }
   input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
   input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
   }
   
   .P{
    margin-left: 5px;
   }
   
   .cust{
    
    font-weight: 510;

   }
   .nomes{
    padding-left: 10px;
   }
   .nomes1{
    padding-left: 10px;
   }
   .textoprincipal h1{
   
    color: #000000;
    font-size: 1.5rem;
    padding-top: 6%;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
   }
   .subtitulo{
    font-size: 22px;
   font-weight: 300;
    font-family: "Nunito Sans", sans-serif;
    color: #000;
   }
   form{
    padding-top: 5%;
   }

  .bntvoo{
    padding-top: 10px;
  }
  .bntvoo button{
    border: none;
    background-color: #f2a71b;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    width: 20vw;
    height: 9vh;
  }
  .bntvoo button:hover{
    transition: 0.2s ease-in;
    background-color: #767676;
    color: #ffffff;
  }

  .menu-2 {
    background-color: rgb(238, 237, 237);
  }
  .nav-list-2 li i {
    padding-bottom: 0.5rem;
    white-space: normal;
    text-align: center;
    display: block;
  }
  .tipostxt h3{
    padding: 10px 10px;
    text-align: left;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #767676;
  }
  .textoc1{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: 10px;
  }
  #e1{
    display: none;
  }
  #select{
    width: 20vw;
    height: 10vh;
  }
  #coisa{
    width: 20vw;
    height: 10vh;
    padding:10vw ;
  }
  .ii{
    padding:10vw ;
    height: 26vh;
 
  }

  .carlos{
    border: 1px solid black;
    top: 50vh;
    left: 49.5vw;
     position: absolute;
    display: flex;

    flex-direction: column;
    background-color: #bab490;
    width: 26.5%;
  }
  .mike{
    cursor: pointer;
    padding: 10px;
   font-weight: 510;
  }
  .mike:hover{ 
     transition: 0.4s ease;
    background-color: #5194a5;
  }
  .subtexto{
  
    left: 322px;
    padding: 10px 10px;
    text-align: left;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #767676;
 
  }
  .saindo{
 
    border: 1px solid black;
    width: 26vw;
display: flex;
flex-direction: column;
height: 10vh;
  }